<style type="text/css">
    #settings {visibility:hidden; display:none;}
</style>

<div id="members_top_bar">
    <table border="0" width="690" id="top_bar_text" class="text" cellspacing="15" cellpadding="0">
        <tr>
            <td valign="top" width="33%" colspan="2">
                <div class="welcome_text">
                    <script type="text/javascript" language="javascript">createHeader( "small_header.swf", "Welcome, <TOKEN:CURRENT_USER_FIRSTNAME>!", "welcome_text", "#FFFFFF", 380, 15, "h4" );</script>
                </div>
            </td>
            <td valign="top" width="33%">

                <TOKEN:CURR_MEMFAC_IF>
                    <TOKEN:TEST_CRITERIA>
                        <TOKEN:TEST_MEMFAC_TYPES>CWW</TOKEN:TEST_MEMFAC_TYPES>
                    </TOKEN:TEST_CRITERIA>
                    <TOKEN:TEST_TRUE>

                        <div id="members_top_bar_back_link">
                            <a href="/club/scripts/section/section.asp?NS=CWOW&MFCODE=<TOKEN:CURR_MEMFAC_CODE>">&laquo; Return to Public Site</a></div>

                    </TOKEN:TEST_TRUE>
                    <TOKEN:TEST_FALSE>
                        <div id="members_top_bar_back_link">
                            <a href="/club/scripts/section/section.asp?NS=PCH&MFCODE=<TOKEN:CURR_MEMFAC_CODE>">&laquo; Return to Public Site</a></div>

                    </TOKEN:TEST_FALSE>
                </TOKEN:CURR_MEMFAC_IF>


            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
                <div class="members_top_bar_header">
                    <script type="text/javascript" language="javascript">createHeader( "small_header.swf", "Message Center", "message_center", "#FFFFFF", 200, 15, "h4" );</script>
                </div>



                <TOKEN:INSERTS_NAMED><TOKEN:INSERT_ITEM_NAMED:MESSAGE_CENTER>
                    <TOKEN:INSERT_ITEM:INSERT_TEXT>
                        <TOKEN:INSERT_ITEM:INSERT_WITHLINK><a href="<TOKEN:INSERT_ITEM:INSERT_VIEW_LINK>" class="gray">Read More</a></TOKEN:INSERT_ITEM:INSERT_WITHLINK><TOKEN:INSERT_ITEM:INSERT_NOLINK> </TOKEN:INSERT_ITEM:INSERT_NOLINK>
                </TOKEN:INSERT_ITEM_NAMED:MESSAGE_CENTER></TOKEN:INSERTS_NAMED>





            </td>
            <td valign="top" align="left">
                <div class="members_top_bar_header">
                    <script type="text/javascript" language="javascript">createHeader( "small_header.swf", "Announcements", "announcements", "#FFFFFF", 200, 15, "h4" );</script>
                </div>
                <div style="padding-top: 2px;">
                    <TOKEN:CLUB_ANNOUNCEMENTS>
                        <TOKEN:CLUB_ANNOUNCEMENT>
                            <table cellspacing="0" cellpadding="0" border="0" class="text">
                                <tr><td width="1" valign="top">
                                    <!--ul class="members_top_bar_ul_with_dates"><li><TOKEN:CLUB_ANNOUNCEMENT:CANN_POSTDATE_MONTH>/<TOKEN:CLUB_ANNOUNCEMENT:CANN_POSTDATE_DAY></li></ul-->
                                </td><td valign="top"><ul class="members_top_bar_ul_with_dates"><li><a href="<TOKEN:CLUB_ANNOUNCEMENT:CANN_LINK>"><TOKEN:CLUB_ANNOUNCEMENT:CANN_SUBJECT></a></li></ul></td></tr>
                            </table>
                        </TOKEN:CLUB_ANNOUNCEMENT>
                    </TOKEN:CLUB_ANNOUNCEMENTS>
                </div>
            </td>
            <td valign="top" align="left">
                <div class="members_top_bar_header rss_icon">
                    <script type="text/javascript" language="javascript">createHeader( "small_header.swf", "News", "news", "#FFFFFF", 200, 15, "h4" );</script>
                </div>
                <ul class="members_top_bar_ul">
                    <TOKEN:RSS>
                        <TOKEN:RSS_STYLE>CUSTOM</TOKEN:RSS_STYLE>
                        <TOKEN:RSS_URL_NAV>
                            <TOKEN:RSS_URL_NAV:PR>http://hosted.ap.org/lineups/TOPHEADS-rss_2.0.xml?SITE=KMOV&SECTION=HOME</TOKEN:RSS_URL_NAV:PR>
                            <TOKEN:RSS_URL_NAV:MYLOCKER>


                                <TOKEN:CURR_MEMFAC_IF>
                                    <TOKEN:TEST_CRITERIA>
                                        <TOKEN:TEST_MEMFAC_TYPES>PUBL,CNTRY_CLUB</TOKEN:TEST_MEMFAC_TYPES>
                                    </TOKEN:TEST_CRITERIA>
                                    <TOKEN:TEST_TRUE>https://sports.yahoo.com/golf/rss.xml</TOKEN:TEST_TRUE>
                                    <!--TOKEN:TEST_TRUE>http://sports.espn.go.com/espn/rss/golf/news</TOKEN:TEST_TRUE-->
                                    <TOKEN:TEST_FALSE>http://rss.cnn.com/rss/cnn_topstories.rss</TOKEN:TEST_FALSE>
                                </TOKEN:CURR_MEMFAC_IF>


                            </TOKEN:RSS_URL_NAV:MYLOCKER>

                            <!--http://sports.espn.go.com/espn/rss/golf/news-->
                            <!--http://feedproxy.google.com/rss/cnn_topstories.rss-->
                            <TOKEN:RSS_URL_NAV:PF>http://health.yahoo.com/news/rss/fitness</TOKEN:RSS_URL_NAV:PF>
                        </TOKEN:RSS_URL_NAV>
                        <TOKEN:RSS_URL></TOKEN:RSS_URL>
                        <TOKEN:RSS_MAX_CHARS>30</TOKEN:RSS_MAX_CHARS>
                        <TOKEN:RSS_MAX_ITEMS>3</TOKEN:RSS_MAX_ITEMS>
                        <TOKEN:RSS_ITEM_TEMPLATE>
                            <script type="text/javascript" language="javascript">
                                var myString = "<TOKEN:RSS_ITEM:TITLE>";
                                if( myString.length > 30 ) { document.write( "<li><a href=\"<TOKEN:RSS_ITEM:LINK>\" target=\"_blank\">" + myString.substr( 0, 30 ) + "...</a></li>" ); }
                                else { document.write( "<li><a href=\"<TOKEN:RSS_ITEM:LINK>\" target=\"_blank\">" + myString + "</a></li>" ); }
                            </script>
                        </TOKEN:RSS_ITEM_TEMPLATE>
                        <TOKEN:RSS_DISPLAY>
                    </TOKEN:RSS>
                </ul>
            </td>
        </tr>
    </table>


</div>
<div class="mylocker_top_shadow">
    <div id="members_content">



        <!-- RIGHT Column ============================================== -->
        <div id="members_right_column">



            <TOKEN:CURR_MEMFAC_IF>
                <TOKEN:TEST_CRITERIA>
                    <TOKEN:TEST_MEMFAC_EXCL_FLAGS>PROFILE</TOKEN:TEST_MEMFAC_EXCL_FLAGS>
                </TOKEN:TEST_CRITERIA>
                <TOKEN:TEST_TRUE>

                    <!-- Events This Week ==================================== -->
                    <div class="box_border">

                </TOKEN:TEST_TRUE>
                <TOKEN:TEST_FALSE>


                    <!-- Events This Week ==================================== -->
                    <div class="box_border" style="display:none; visibility:hidden;">


                </TOKEN:TEST_FALSE>
            </TOKEN:CURR_MEMFAC_IF>
            <div class="box">
                <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "My Profile", "my_profile", "#625949", 300, 15, "h3" );</script></div>
                <div class="box_text">
                    <div class="text big"><a href="/club/scripts/member/member_profile_update.asp?NS=MYLOCKER"><TOKEN:CURRENT_USER_FIRSTNAME> <TOKEN:CURRENT_USER_LASTNAME></a></div>
                    <TOKEN:MEMFAC_NAME>



                        <TOKEN:USER_LIST>
                            <TOKEN:CURRENT_USER>1</TOKEN:CURRENT_USER>
                            <TOKEN:USER_ITEM>


                                <!--TOKEN:USER_ITEM:USER_IMAGE:EXISTS>
                                <img src="<TOKEN:USER_ITEM:USER_IMG_URL>" border="0">
                                </TOKEN:USER_ITEM:USER_IMAGE:EXISTS>
                                <TOKEN:USER_ITEM:USER_IMAGE:EXISTS_NOT></TOKEN:USER_ITEM:USER_IMAGE:EXISTS_NOT-->
                                <TOKEN:CURR_MEMFAC_IF>
                                    <TOKEN:TEST_CRITERIA>
                                        <TOKEN:TEST_MEMFAC_EXCL_FLAGS>EFFDATE</TOKEN:TEST_MEMFAC_EXCL_FLAGS>
                                    </TOKEN:TEST_CRITERIA>
                                    <TOKEN:TEST_TRUE>
                                        <div class="text">Member Since: <TOKEN:USER_ITEM:USER_EFFDATE_YEAR></div>
                                    </TOKEN:TEST_TRUE>
                                    <TOKEN:TEST_FALSE>
                                    </TOKEN:TEST_FALSE>
                                </TOKEN:CURR_MEMFAC_IF><div class="text">Located in: <TOKEN:USER_ITEM:ADR_CITY>, <TOKEN:USER_ITEM:ADR_STATE_CODE></div>

                                <div class="text">Email:&nbsp; <TOKEN:USER_ITEM:USER_EMAIL_LINK></div>
                                <!--div class="text">Activities:&nbsp; <TOKEN:USER_ITEM:ACT_DESC>
                                </div-->
                                <!--div class="text">Industry:&nbsp;<TOKEN:USER_ITEM:DEMO_MISC16></div-->
                                <div class="text">Profession:&nbsp; <TOKEN:USER_ITEM:DEMO_MISC18>
                                </div>
                                <div class="text">Birthday:&nbsp;<TOKEN:USER_ITEM:DEMO_USER_DOB_MONTH>/<TOKEN:USER_ITEM:DEMO_USER_DOB_DAY>/<TOKEN:USER_ITEM:DEMO_USER_DOB_YEAR></div>


                            </TOKEN:USER_ITEM>
                        </TOKEN:USER_LIST>







                        <div class="text">Club:&nbsp; <a href="#" class="gray"><TOKEN:CURRENT_USER_MEMFAC_NAME></a></div>

                        <div class="text">Logged in:&nbsp; <TOKEN:CURRENT_DATETIME></div>

                </div>
                <div class="box_footer"><a href="/club/scripts/member/member_profile_update.asp?NS=MYLOCKER" class="gray">Edit Profile</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/club/scripts/member/member_preferences_edit.asp?NS=MYLOCKER" class="gray">Edit Preferences</a>

                    <TOKEN:CURR_MEMFAC_IF>
                        <TOKEN:TEST_CRITERIA>
                            <TOKEN:TEST_MEMFAC_EXCL_FLAGS>ROSTER</TOKEN:TEST_MEMFAC_EXCL_FLAGS>
                        </TOKEN:TEST_CRITERIA>
                        <TOKEN:TEST_TRUE>

                            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/club/scripts/member/member_search.asp?NS=MYLOCKER" class="gray">See More Members</a>
                        </TOKEN:TEST_TRUE>
                        <TOKEN:TEST_FALSE>

                        </TOKEN:TEST_FALSE>
                    </TOKEN:CURR_MEMFAC_IF>


                </div>
            </div></div>

        <TOKEN:CURR_MEMFAC_IF>
            <TOKEN:TEST_CRITERIA>
                <TOKEN:TEST_MEMFAC_FLAGS>ONE_ON</TOKEN:TEST_MEMFAC_FLAGS>
            </TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_TRUE>

<SPAN id="ONE_LINK">
</SPAN>
            </TOKEN:TEST_TRUE>
        </TOKEN:CURR_MEMFAC_IF>

        <TOKEN:CURR_MEMFAC_IF>
            <TOKEN:TEST_CRITERIA>
                <TOKEN:TEST_MEMFAC_FLAGS>SONE</TOKEN:TEST_MEMFAC_FLAGS>
            </TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_TRUE>

<SPAN id="SONE_LINK">
</SPAN>

            </TOKEN:TEST_TRUE>
        </TOKEN:CURR_MEMFAC_IF>


        <TOKEN:CURR_MEMFAC_IF>
            <TOKEN:TEST_CRITERIA>
                <TOKEN:TEST_MEMFAC_FLAGS>ONEOE</TOKEN:TEST_MEMFAC_FLAGS>
            </TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_TRUE>

                <TOKEN:USER_LIST>
                    <TOKEN:CURRENT_USER>1</TOKEN:CURRENT_USER>
                    <TOKEN:USER_ITEM>
                        <TOKEN:USER_ITEM:DEMO_MISC27:EXISTS:NOT>
                            <div class="box_border"><div class="box">
                                <a href="https://applications.members.clubcorp.com/portal/pls/portal/!ccone.one?HASH=<TOKEN_HASH />">
                                    <img src="/custom/site_images/one/one_<TOKEN:CURR_MEMFAC_CODE>.jpg"></a>
                                <br>
                            </div></div>

                        </TOKEN:USER_ITEM:DEMO_MISC27:EXISTS:NOT>
                    </TOKEN:USER_ITEM>
                </TOKEN:USER_LIST>

            </TOKEN:TEST_TRUE>
        </TOKEN:CURR_MEMFAC_IF>

        <TOKEN:CURR_MEMFAC_IF>
            <TOKEN:TEST_CRITERIA>
                <TOKEN:TEST_MEMFAC_FLAGS>BC</TOKEN:TEST_MEMFAC_FLAGS>
            </TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_TRUE>

                <!---script>
                $(document).ready(function() {
                  var bcprogram = $("#bcprogram_link");
                  var grp = bcprogram.attr("grp").toUpperCase();
                  var soc = bcprogram.attr("soc").substring(0, 1).toUpperCase();
                  if ( (grp === "SIGU" || grp === "SIGSU") && soc === "Y" ) {
                    bcprogram.hide();
                  } else {
                    bcprogram.show();
                  }
                });
                </script--->

                <div id="bcprogram_link" <TOKEN:USER_LIST><TOKEN:CURRENT_USER>1</TOKEN:CURRENT_USER><TOKEN:USER_ITEM>grp="<TOKEN:USER_ITEM:USER_MEMBERGROUP_CODE>" soc="<TOKEN:USER_ITEM:DEMO_MISC23>"</TOKEN:USER_ITEM></TOKEN:USER_LIST>>
                <div class="box_border"><div class="box">
                    <a href="https://applications.members.clubcorp.com/portal/pls/portal/!ccone.one?HASH=<TOKEN_HASH />">
                        <img src="/custom/site_images/bcprograms/bc_<TOKEN:CURR_MEMFAC_CODE>.jpg"></a>
                    <br>
                </div></div></div>

    </TOKEN:TEST_TRUE>
    </TOKEN:CURR_MEMFAC_IF>

    <TOKEN:CURR_MEMFAC_IF>
        <TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_MEMFAC_FLAGS>SIG</TOKEN:TEST_MEMFAC_FLAGS>
        </TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_TRUE>

            <script>
                $(document).ready(function() {
                    var memgroup = $(".memgroup");
                    if ( memgroup.hasClass("SIGU") ) {
                        memgroup.hide();
                    } else {
                        memgroup.show();
                    }
                });
            </script>

            <div class="memgroup <TOKEN:USER_LIST><TOKEN:CURRENT_USER>1</TOKEN:CURRENT_USER><TOKEN:USER_ITEM><TOKEN:USER_ITEM:USER_MEMBERGROUP_CODE></TOKEN:USER_ITEM></TOKEN:USER_LIST>">
                <div class="box_border"><div class="box"><a href="https://applications.members.clubcorp.com/portal/pls/portal/!ccone.one?HASH=<TOKEN_HASH />">
                    <img src="/custom/site_images/one/sig.jpg"></a>
                </div></div></div>

        </TOKEN:TEST_TRUE>
    </TOKEN:CURR_MEMFAC_IF>




    <TOKEN:CURR_MEMFAC_IF>
        <TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_MEMFAC_FLAGS>ONEG</TOKEN:TEST_MEMFAC_FLAGS>
        </TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_TRUE>

            <script>
                $(document).ready(function() {
                    var memtype = $(".memtype");
                    if ( memtype.hasClass("01") ) {
                        memtype.show();
                    } else {
                        memtype.hide();
                    }
                });
            </script>

            <div class="memtype <TOKEN:USER_LIST><TOKEN:CURRENT_USER>1</TOKEN:CURRENT_USER><TOKEN:USER_ITEM><TOKEN:USER_ITEM:USER_MEMBERTYPE_CODE></TOKEN:USER_ITEM></TOKEN:USER_LIST>">
                <div class="box_border"><div class="box"><a href="https://applications.members.clubcorp.com/portal/pls/portal/!ccone.one?HASH=<TOKEN_HASH />">
                    <img src="/custom/site_images/one/one_<TOKEN:CURR_MEMFAC_CODE>.jpg"></a>
                </div></div></div>

        </TOKEN:TEST_TRUE>
    </TOKEN:CURR_MEMFAC_IF>

    <TOKEN:CURR_MEMFAC_IF>
        <TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_MEMFAC_FLAGS>CHANT</TOKEN:TEST_MEMFAC_FLAGS>
        </TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_TRUE>

            <script>
                $(document).ready(function() {
                    var oneallprogram = $("#oneallprogram_link");
                    var type = oneallprogram.attr("type").toUpperCase();
                    if ( type == "RESERVE MEMBERSHIP" ) {
                        oneallprogram.hide();
                    } else {
                        oneallprogram.show();
                    }
                });
            </script>

            <div id="oneallprogram_link" <TOKEN:USER_LIST><TOKEN:CURRENT_USER>1</TOKEN:CURRENT_USER><TOKEN:USER_ITEM>type="<TOKEN:USER_ITEM:DEMO_USER_NOTES>"</TOKEN:USER_ITEM></TOKEN:USER_LIST>>
            <div class="box_border"><div class="box">
                <a href="https://applications.members.clubcorp.com/portal/pls/portal/!ccone.one?HASH=<TOKEN_HASH />">
                    <img src="/custom/site_images/oneall/one_<TOKEN:CURR_MEMFAC_CODE>.jpg"></a>
                <br>
            </div></div></div>

</TOKEN:TEST_TRUE>
</TOKEN:CURR_MEMFAC_IF>


<TOKEN:CURR_MEMFAC_IF>
    <TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_MEMFAC_FLAGS>ONEALL</TOKEN:TEST_MEMFAC_FLAGS>
    </TOKEN:TEST_CRITERIA>
    <TOKEN:TEST_TRUE>

        <div class="box_border"><div class="box">
            <a href="https://applications.members.clubcorp.com/portal/pls/portal/!ccone.one?HASH=<TOKEN_HASH />">
                <img src="/custom/site_images/oneall/one_<TOKEN:CURR_MEMFAC_CODE>.jpg"></a>
            <br>
        </div></div>


    </TOKEN:TEST_TRUE>
</TOKEN:CURR_MEMFAC_IF>


<TOKEN:CURR_MEMFAC_IF>
    <TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_MEMFAC_FLAGS>ONEGM</TOKEN:TEST_MEMFAC_FLAGS>
    </TOKEN:TEST_CRITERIA>
    <TOKEN:TEST_TRUE>

        <div class="box_border"><div class="box">
            <a href="https://applications.members.clubcorp.com/portal/pls/portal/!ccone.one?HASH=<TOKEN_HASH />">
                <img src="/custom/site_images/onegm/one_gm.jpg"></a>
            <br>
        </div></div>


    </TOKEN:TEST_TRUE>
</TOKEN:CURR_MEMFAC_IF>

<TOKEN:CURR_MEMFAC_IF>
    <TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_MEMFAC_FLAGS>SONEFH</TOKEN:TEST_MEMFAC_FLAGS>
    </TOKEN:TEST_CRITERIA>
    <TOKEN:TEST_TRUE>

        <TOKEN:USER_LIST>
            <TOKEN:CURRENT_USER>1</TOKEN:CURRENT_USER>
            <TOKEN:USER_ITEM>
                <TOKEN:USER_ITEM:DEMO_MISC27:EXISTS:NOT>

                    <div class="box_border"><div class="box">
                        <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "A Second Chance For O.N.E.", "A Second Chance For O.N.E.", "#625949", 300, 15, "h3" );</script></div>
                        <div style="padding: 10px;" class="text">
                            <a href="/club/scripts/library/view_document.asp?S=NAV&DN=SONE_<TOKEN:CURR_MEMFAC_CODE>&GRP=2&NS=MYLOCKER&MFCODE=<TOKEN:CURR_MEMFAC_CODE>&SUBGRP=68"><img src="/custom/site_images/ONEmember_banner_ad.jpg"></a><p>Enrollment Fees Waived, up to a $750* Value!<br>Hurry! Offer ends soon!<br>Enroll Today!<br><a href="/club/scripts/library/view_document.asp?S=NAV&DN=SONE_<TOKEN:CURR_MEMFAC_CODE>&GRP=2&NS=MYLOCKER&MFCODE=<TOKEN:CURR_MEMFAC_CODE>&SUBGRP=68">Find out more</a></p>
                        </div>
                        <div class="box_footer" style="clear: left;"></div>
                    </div></div>
                </TOKEN:USER_ITEM:DEMO_MISC27:EXISTS:NOT>
            </TOKEN:USER_ITEM>
        </TOKEN:USER_LIST>

    </TOKEN:TEST_TRUE>
</TOKEN:CURR_MEMFAC_IF>

<TOKEN:CURR_MEMFAC_IF>
    <TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_MEMFAC_FLAGS>RES_OFF</TOKEN:TEST_MEMFAC_FLAGS>
    </TOKEN:TEST_CRITERIA>
    <TOKEN:TEST_TRUE>

        <div class="box_border" style="display:none; visibility:hidden;"><div class="box">
    </TOKEN:TEST_TRUE>
    <TOKEN:TEST_FALSE>

        <div class="box_border"><div class="box">
    </TOKEN:TEST_FALSE>
</TOKEN:CURR_MEMFAC_IF>

<TOKEN:CURR_MEMFAC_IF>
    <TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_MEMFAC_FLAGS>RES</TOKEN:TEST_MEMFAC_FLAGS>
    </TOKEN:TEST_CRITERIA>
    <TOKEN:TEST_TRUE>

        <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "Dining Reservations", "my_reservations", "#625949", 300, 15, "h3" );</script></div>
        <div class="box_text">
            <div class="text">

                <!-- Reservations Box =========================================== -->
                <a href="/club/scripts/facilities/view_facility_reservation_list.asp?[NAVIGATION_INFO]" class="gray">My Current Reservations</a> | <a href="/club/scripts/facilities/facility_reservation.asp?[NAVIGATION_INFO]" class="gray">Make a Reservation</a>
            </div>
        </div>


    </TOKEN:TEST_TRUE>
    <TOKEN:TEST_FALSE>

        <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "Dining Reservations", "my_reservations", "#625949", 300, 15, "h3" );</script></div>
        <div class="box_text">
            <div class="text">

                <!-- Reservations Box =========================================== -->

                Online Reservations Coming Soon.
            </div>
        </div>


    </TOKEN:TEST_FALSE>
</TOKEN:CURR_MEMFAC_IF>

</div>
</div>


<!-- RIGHT COLUMN INSERTS =================================== -->
<TOKEN:INSERTS>
    <TOKEN:INSERTS:LOC_CODE>2</TOKEN:INSERTS:LOC_CODE>
    <TOKEN:INSERT_ITEM>
        <div class="box_border"><div class="box">
            <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "<TOKEN:INSERT_ITEM:INSERT_TITLE>", "<TOKEN:INSERT_ITEM:INSERT_TITLE>", "#625949", 300, 15, "h3" );</script></div>
            <div style="padding: 10px;" class="text">
                <TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE:EXISTS><img src="<TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE_URL>" border="0" align="left" style="margin: 0px 10px 10px 0px;"></TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE:EXISTS>
                <TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE:EXISTS_NOT></TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE:EXISTS_NOT>
                <TOKEN:INSERT_ITEM:INSERT_TEXT>
            </div>
            <div class="box_footer" style="clear: left;"><TOKEN:INSERT_ITEM:INSERT_WITHLINK><a href="<TOKEN:INSERT_ITEM:INSERT_VIEW_LINK>" class="gray">Read More</a></TOKEN:INSERT_ITEM:INSERT_WITHLINK><TOKEN:INSERT_ITEM:INSERT_NOLINK> </TOKEN:INSERT_ITEM:INSERT_NOLINK></div>
        </div></div>
    </TOKEN:INSERT_ITEM>
</TOKEN:INSERTS>
<!-- END RIGHT COLUMN INSERTS =============================== -->

</div>

<!-- LEFT Column ============================================= -->
<div id="members_left_column">



    <TOKEN:CURR_MEMFAC_IF>
        <TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_MEMFAC_FLAGS>CALFIL</TOKEN:TEST_MEMFAC_FLAGS>
        </TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_TRUE>
            <div class="calswitch_div" align="left"><a href="javascript:void(0);" onMouseOver="hover('club');" onMouseOut="unhover('club');" onClick="activate('club');" onFocus="this.hideFocus=true;"><img src="/custom/site_images/switch_div_club_active.gif" border="0" name="club" id="club"></a><a href="javascript:void(0);" onMouseOver="hover('dining');" onMouseOut="unhover('dining');" onClick="activate('dining');" onFocus="this.hideFocus=true;"><img src="/custom/site_images/switch_div_dining.gif" border="0" name="club" id="dining"></a><a href="javascript:void(0);" onMouseOver="hover('golf');" onMouseOut="unhover('golf');" onClick="activate('golf');" onFocus="this.hideFocus=true;"><img src="/custom/site_images/switch_div_golf.gif" border="0" name="golf" id="golf"></a></div><div id="club_content">
            <TOKEN:CALENDAR>
                <!-- Events This Week ==================================== -->
                <div class="box_border"><div class="box">
                    <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "Events This Week", "events_title", "#625949", 300, 15, "h3" );</script></div>
                    <div class="box_text">






                        <table cellspacing="4" cellpadding="0" border="0" class="text">
                            <TOKEN:CALENDAR_ITEMS>
                                <TOKEN:CALENDAR_ITEM>
                                    <tr>
                                        <td valign="top" width="70"><TOKEN:EVENT_ITEM:ITEM_DATE_MONTH>/<TOKEN:EVENT_ITEM:ITEM_DATE_DAY>/<TOKEN:EVENT_ITEM:ITEM_DATE_YEAR></td>
                                        <td valign="top">
                                            <a TITLE="header=[<TOKEN:EVENT_ITEM:ITEM_DESC>] body=[Category: <TOKEN:EVENT_ITEM:ITEM_CATEG_DESC>
<br><TOKEN:EVENT_ITEM:ITEM_TIMES>
<TOKEN:ITEM_TIMES_BOTH> (<TOKEN:EVENT_ITEM:ITEM_TIME>-<TOKEN:EVENT_ITEM:ITEM_TIME_END>)</TOKEN:ITEM_TIMES_BOTH>
<TOKEN:ITEM_TIMES_START> (<TOKEN:EVENT_ITEM:ITEM_TIME>)</TOKEN:ITEM_TIMES_START>
<TOKEN:ITEM_TIMES_NONE></TOKEN:ITEM_TIMES_NONE>
</TOKEN:EVENT_ITEM:ITEM_TIMES>
<br><TOKEN:EVENT_ITEM:ITEM_DATE_WEEKDAYNAME>, <TOKEN:EVENT_ITEM:ITEM_DATE_MONTHNAME_ABBREV>&nbsp;<TOKEN:EVENT_ITEM:ITEM_DATE_DAY><br>]" href="<TOKEN:EVENT_ITEM:VIEW_LINK>"><TOKEN:EVENT_ITEM:ITEM_DESC></a>
                                            <TOKEN:EVENT_ITEM:REGISTRATION>
                                                <TOKEN:EVENT_ITEM:REGISTRATION:SIGNUP><a href="<TOKEN:EVENT_ITEM:VIEW_LINK>"><img src="/custom/site_images/signup.gif" border=0></a></TOKEN:EVENT_ITEM:REGISTRATION:SIGNUP>
                                                <TOKEN:EVENT_ITEM:REGISTRATION:REGISTERED><img src="/custom/site_images/registered.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:REGISTERED>
                                                <TOKEN:EVENT_ITEM:REGISTRATION:CONFIRMED><img src="/custom/site_images/confirmed.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:CONFIRMED>
                                                <TOKEN:EVENT_ITEM:REGISTRATION:CLOSED><img src="/custom/site_images/closed.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:CLOSED>
                                            </TOKEN:EVENT_ITEM:REGISTRATION>
                                        </td>
                                    </tr>
                                </TOKEN:CALENDAR_ITEM>
                            </TOKEN:CALENDAR_ITEMS>
                        </table>





                    </div>
                    <div class="box_footer"><a href="/club/scripts/calendar/weekly_calendar.asp?GRP=2&NS=MYLOCKER&MFCODE=<TOKEN:CURR_MEMFAC_CODE>" class="gray">View Calendar</a></div>
                </div></div>
            </TOKEN:CALENDAR>
        </div><div id="dining_content" style="display: none;">
            <TOKEN:CALENDAR>
                <!-- Events This Week ==================================== -->
                <div class="box_border"><div class="box">
                    <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "Dining Events This Week", "Dining_events_title", "#625949", 300, 15, "h3" );</script></div>
                    <div class="box_text">
                        <table cellspacing="4" cellpadding="0" border="0" class="text">

                            <TOKEN:CALENDAR_FILTER_CATEG_CODE>DINE</TOKEN:CALENDAR_FILTER_CATEG_CODE>					<TOKEN:CALENDAR_ITEMS>
                            <TOKEN:CALENDAR_ITEM>
                                <tr>
                                    <td valign="top" width="70"><TOKEN:EVENT_ITEM:ITEM_DATE_MONTH>/<TOKEN:EVENT_ITEM:ITEM_DATE_DAY>/<TOKEN:EVENT_ITEM:ITEM_DATE_YEAR></td>
                                    <td valign="top">
                                        <a TITLE="header=[<TOKEN:EVENT_ITEM:ITEM_DESC>] body=[Category: <TOKEN:EVENT_ITEM:ITEM_CATEG_DESC>
<br><TOKEN:EVENT_ITEM:ITEM_TIMES>
<TOKEN:ITEM_TIMES_BOTH> (<TOKEN:EVENT_ITEM:ITEM_TIME>-<TOKEN:EVENT_ITEM:ITEM_TIME_END>)</TOKEN:ITEM_TIMES_BOTH>
<TOKEN:ITEM_TIMES_START> (<TOKEN:EVENT_ITEM:ITEM_TIME>)</TOKEN:ITEM_TIMES_START>
<TOKEN:ITEM_TIMES_NONE></TOKEN:ITEM_TIMES_NONE>
</TOKEN:EVENT_ITEM:ITEM_TIMES>
<br><TOKEN:EVENT_ITEM:ITEM_DATE_WEEKDAYNAME>, <TOKEN:EVENT_ITEM:ITEM_DATE_MONTHNAME_ABBREV>&nbsp;<TOKEN:EVENT_ITEM:ITEM_DATE_DAY><br>]" href="<TOKEN:EVENT_ITEM:VIEW_LINK>"><TOKEN:EVENT_ITEM:ITEM_DESC></a>
                                        <TOKEN:EVENT_ITEM:REGISTRATION>
                                            <TOKEN:EVENT_ITEM:REGISTRATION:SIGNUP><a href="<TOKEN:EVENT_ITEM:VIEW_LINK>"><img src="/custom/site_images/signup.gif" border=0></a></TOKEN:EVENT_ITEM:REGISTRATION:SIGNUP>
                                            <TOKEN:EVENT_ITEM:REGISTRATION:REGISTERED><img src="/custom/site_images/registered.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:REGISTERED>
                                            <TOKEN:EVENT_ITEM:REGISTRATION:CONFIRMED><img src="/custom/site_images/confirmed.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:CONFIRMED>
                                            <TOKEN:EVENT_ITEM:REGISTRATION:CLOSED><img src="/custom/site_images/closed.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:CLOSED>
                                        </TOKEN:EVENT_ITEM:REGISTRATION>
                                    </td>
                                </tr>
                            </TOKEN:CALENDAR_ITEM>
                        </TOKEN:CALENDAR_ITEMS>
                        </table>
                    </div>
                    <div class="box_footer"><a href="/club/scripts/calendar/weekly_calendar.asp?GRP=2&NS=MYLOCKER&MFCODE=<TOKEN:CURR_MEMFAC_CODE>" class="gray">View Calendar</a></div>
                </div></div>
            </TOKEN:CALENDAR>
        </div><div id="golf_content" style="display: none;">
            <TOKEN:CALENDAR>
                <!-- Events This Week ==================================== -->
                <div class="box_border"><div class="box">
                    <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "Golf Events This Week", "golf_events_title", "#625949", 300, 15, "h3" );</script></div>
                    <div class="box_text">

                        <table cellspacing="4" cellpadding="0" border="0" class="text">
                            <TOKEN:CALENDAR_FILTER_CATEG_CODE>GOLF</TOKEN:CALENDAR_FILTER_CATEG_CODE>
                            <TOKEN:CALENDAR_ITEMS>
                                <TOKEN:CALENDAR_ITEM>
                                    <tr>
                                        <td valign="top" width="70"><TOKEN:EVENT_ITEM:ITEM_DATE_MONTH>/<TOKEN:EVENT_ITEM:ITEM_DATE_DAY>/<TOKEN:EVENT_ITEM:ITEM_DATE_YEAR></td>
                                        <td valign="top">
                                            <a TITLE="header=[<TOKEN:EVENT_ITEM:ITEM_DESC>] body=[Category: <TOKEN:EVENT_ITEM:ITEM_CATEG_DESC>
<br><TOKEN:EVENT_ITEM:ITEM_TIMES>
<TOKEN:ITEM_TIMES_BOTH> (<TOKEN:EVENT_ITEM:ITEM_TIME>-<TOKEN:EVENT_ITEM:ITEM_TIME_END>)</TOKEN:ITEM_TIMES_BOTH>
<TOKEN:ITEM_TIMES_START> (<TOKEN:EVENT_ITEM:ITEM_TIME>)</TOKEN:ITEM_TIMES_START>
<TOKEN:ITEM_TIMES_NONE></TOKEN:ITEM_TIMES_NONE>
</TOKEN:EVENT_ITEM:ITEM_TIMES>
<br><TOKEN:EVENT_ITEM:ITEM_DATE_WEEKDAYNAME>, <TOKEN:EVENT_ITEM:ITEM_DATE_MONTHNAME_ABBREV>&nbsp;<TOKEN:EVENT_ITEM:ITEM_DATE_DAY><br>]" href="<TOKEN:EVENT_ITEM:VIEW_LINK>"><TOKEN:EVENT_ITEM:ITEM_DESC></a>
                                            <TOKEN:EVENT_ITEM:REGISTRATION>
                                                <TOKEN:EVENT_ITEM:REGISTRATION:SIGNUP><a href="<TOKEN:EVENT_ITEM:VIEW_LINK>"><img src="/custom/site_images/signup.gif" border=0></a></TOKEN:EVENT_ITEM:REGISTRATION:SIGNUP>
                                                <TOKEN:EVENT_ITEM:REGISTRATION:REGISTERED><img src="/custom/site_images/registered.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:REGISTERED>
                                                <TOKEN:EVENT_ITEM:REGISTRATION:CONFIRMED><img src="/custom/site_images/confirmed.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:CONFIRMED>
                                                <TOKEN:EVENT_ITEM:REGISTRATION:CLOSED><img src="/custom/site_images/closed.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:CLOSED>
                                            </TOKEN:EVENT_ITEM:REGISTRATION>
                                        </td>
                                    </tr>
                                </TOKEN:CALENDAR_ITEM>
                            </TOKEN:CALENDAR_ITEMS>
                        </table>
                    </div>
                    <div class="box_footer"><a href="/club/scripts/calendar/weekly_calendar.asp?GRP=2&NS=MYLOCKER&MFCODE=<TOKEN:CURR_MEMFAC_CODE>" class="gray">View Calendar</a></div>
                </div></div>
            </TOKEN:CALENDAR></div>

        </TOKEN:TEST_TRUE>
        <TOKEN:TEST_FALSE>

            <div id="club_content">
                <TOKEN:CALENDAR>
                    <!-- Events This Week ==================================== -->
                    <div class="box_border"><div class="box">
                        <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "Events This Week", "events_title", "#333333", 300, 15, "h3" );</script></div>
                        <div class="box_text">



                            <table cellspacing="4" cellpadding="0" border="0" class="text">
                                <TOKEN:CALENDAR_ITEMS>
                                    <TOKEN:CALENDAR_ITEM>
                                        <tr>
                                            <td valign="top" width="70"><TOKEN:EVENT_ITEM:ITEM_DATE_MONTH>/<TOKEN:EVENT_ITEM:ITEM_DATE_DAY>/<TOKEN:EVENT_ITEM:ITEM_DATE_YEAR></td>
                                            <td valign="top">
                                                <a TITLE="header=[<TOKEN:EVENT_ITEM:ITEM_DESC>] body=[Category: <TOKEN:EVENT_ITEM:ITEM_CATEG_DESC>
<br><TOKEN:EVENT_ITEM:ITEM_TIMES>
<TOKEN:ITEM_TIMES_BOTH> (<TOKEN:EVENT_ITEM:ITEM_TIME>-<TOKEN:EVENT_ITEM:ITEM_TIME_END>)</TOKEN:ITEM_TIMES_BOTH>
<TOKEN:ITEM_TIMES_START> (<TOKEN:EVENT_ITEM:ITEM_TIME>)</TOKEN:ITEM_TIMES_START>
<TOKEN:ITEM_TIMES_NONE></TOKEN:ITEM_TIMES_NONE>
</TOKEN:EVENT_ITEM:ITEM_TIMES>
<br><TOKEN:EVENT_ITEM:ITEM_DATE_WEEKDAYNAME>, <TOKEN:EVENT_ITEM:ITEM_DATE_MONTHNAME_ABBREV>&nbsp;<TOKEN:EVENT_ITEM:ITEM_DATE_DAY><br>]" href="<TOKEN:EVENT_ITEM:VIEW_LINK>"><TOKEN:EVENT_ITEM:ITEM_DESC></a>
                                                <TOKEN:EVENT_ITEM:REGISTRATION>
                                                    <TOKEN:EVENT_ITEM:REGISTRATION:SIGNUP><a href="<TOKEN:EVENT_ITEM:VIEW_LINK>"><img src="/custom/site_images/signup.gif" border=0></a></TOKEN:EVENT_ITEM:REGISTRATION:SIGNUP>
                                                    <TOKEN:EVENT_ITEM:REGISTRATION:REGISTERED><img src="/custom/site_images/registered.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:REGISTERED>
                                                    <TOKEN:EVENT_ITEM:REGISTRATION:CONFIRMED><img src="/custom/site_images/confirmed.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:CONFIRMED>
                                                    <TOKEN:EVENT_ITEM:REGISTRATION:CLOSED><img src="/custom/site_images/closed.gif" border=0></TOKEN:EVENT_ITEM:REGISTRATION:CLOSED>
                                                </TOKEN:EVENT_ITEM:REGISTRATION>
                                            </td>
                                        </tr>
                                    </TOKEN:CALENDAR_ITEM>
                                </TOKEN:CALENDAR_ITEMS>
                            </table>





                        </div>
                        <div class="box_footer"><a href="/club/scripts/calendar/weekly_calendar.asp?GRP=2&NS=MYLOCKER&MFCODE=<TOKEN:CURR_MEMFAC_CODE>" class="gray">View Calendar</a></div>
                    </div></div>
                </TOKEN:CALENDAR>
            </div>


        </TOKEN:TEST_FALSE>
    </TOKEN:CURR_MEMFAC_IF>


    <!-- LEFT COLUMN INSERTS =================================== -->
    <TOKEN:INSERTS>
        <TOKEN:INSERTS:LOC_CODE>1</TOKEN:INSERTS:LOC_CODE>
        <TOKEN:INSERT_ITEM>
            <div class="box_border"><div class="box">
                <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "<TOKEN:INSERT_ITEM:INSERT_TITLE>", "<TOKEN:INSERT_ITEM:INSERT_TITLE>", "#625949", 300, 15, "h3" );</script></div>
                <div style="padding: 10px;" class="text">
                    <TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE:EXISTS><img src="<TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE_URL>" border="0" align="left" style="margin: 0px 10px 10px 0px;"></TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE:EXISTS>
                    <TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE:EXISTS_NOT></TOKEN:INSERT_ITEM:INSERT_SECTION_IMAGE:EXISTS_NOT>
                    <TOKEN:INSERT_ITEM:INSERT_TEXT>
                </div>
                <div class="box_footer" style="clear: left;"><TOKEN:INSERT_ITEM:INSERT_WITHLINK><a href="<TOKEN:INSERT_ITEM:INSERT_VIEW_LINK>" class="gray">Read More</a></TOKEN:INSERT_ITEM:INSERT_WITHLINK><TOKEN:INSERT_ITEM:INSERT_NOLINK> </TOKEN:INSERT_ITEM:INSERT_NOLINK></div>
            </div></div>
        </TOKEN:INSERT_ITEM>
    </TOKEN:INSERTS>


    <!-- END RIGHT COLUMN INSERTS =============================== -->


    <TOKEN:CURR_MEMFAC_IF>
        <TOKEN:TEST_CRITERIA>
            <TOKEN:TEST_MEMFAC_EXCL_FLAGS>GALLERY</TOKEN:TEST_MEMFAC_EXCL_FLAGS>
        </TOKEN:TEST_CRITERIA>
        <TOKEN:TEST_TRUE>


            <!-- IMAGE ALBUMS -->

            <TOKEN:IMAGE_ALBUMS>

                <!-- Photo Gallery ========================================= -->
                <div class="box_border"><div class="box">
                    <div class="box_title"><script type="text/javascript" language="javascript">createHeader( "medium_header.swf", "Recent Photos", "recent_photos_title", "#625949", 300, 15, "h3" );</script></div>
                    <div class="box_text">
                        <div align="center">

                            <TOKEN:ALBUM_MAXCOUNT>6</TOKEN:ALBUM_MAXCOUNT>
                            <TOKEN:ALBUM_GROUP_COUNT>2</TOKEN:ALBUM_GROUP_COUNT>
                            <TOKEN:ALBUM_ITEM_NONE>No Albums</TOKEN:ALBUM_ITEM_NONE>
                            <TOKEN:ALBUM_ITEM_SPACER>&nbsp;</TOKEN:ALBUM_ITEM_SPACER>

                            <TOKEN:ALBUM_ITEM>
                                <TOKEN:ALBUM_ITEM:ALBUM_IMAGE:EXISTS>
                                    <a href="<TOKEN:ALBUM_ITEM:ALBUM_VIEW_LINK>"><img class="border" src="/common/thumbnail.asp?SIZE=50&CROP=1&filename=<TOKEN:ALBUM_ITEM:ALBUM_IMG_URL>" border="0"><br>
                                </TOKEN:ALBUM_ITEM:ALBUM_IMAGE:EXISTS>
                                <TOKEN:ALBUM_ITEM:ALBUM_IMAGE:EXISTS:NOT><a href="<TOKEN:ALBUM_ITEM:ALBUM_VIEW_LINK>"></TOKEN:ALBUM_ITEM:ALBUM_IMAGE:EXISTS:NOT>
                                <TOKEN:ALBUM_ITEM:ALBUM_TITLE></a>
                            </TOKEN:ALBUM_ITEM>

                            <table cellspacing="10" cellpadding="0" border="0" class="text">
                                <TOKEN:ALBUM_GROUP_1>
                                    <tr>
                                        <td valign="top" align="center" class="small"><TOKEN:ALBUM_1></td>
                                        <td valign="top" align="center" class="small"><TOKEN:ALBUM_2></td>
                                        <td valign="top" align="center" class="small"><TOKEN:ALBUM_3></td>
                                    </tr>
                                </TOKEN:ALBUM_GROUP_1>
                                <TOKEN:ALBUM_GROUP_2>
                                    <tr>
                                        <td valign="top" align="center" class="small"><TOKEN:ALBUM_4></td>
                                        <td valign="top" align="center" class="small"><TOKEN:ALBUM_5></td>
                                        <td valign="top" align="center" class="small"><TOKEN:ALBUM_6></td>
                                    </tr>
                                </TOKEN:ALBUM_GROUP_2>
                            </table>
                        </div>
                    </div>
                    <div class="box_footer"><a href="/club/scripts/ImageAlbum/view_albums_list.asp?NS=MYLOCKER&MFCODE=<TOKEN:CURR_MEMFAC_CODE>&SUBGRP=57" class="gray">View All Image Albums</a></div>
                </div></div>
            </TOKEN:IMAGE_ALBUMS>


            <!-- END IMAGE ALBUMS -->

        </TOKEN:TEST_TRUE>
        <TOKEN:TEST_FALSE>
        </TOKEN:TEST_FALSE>
    </TOKEN:CURR_MEMFAC_IF>

</div>
</div>
</div>
