{% extends 'layoutPrivate.html' %}

{% block title %}{{tune.name}}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <form method="POST" action="/documents/new" enctype="multipart/form-data">
        <div class="form-group"><label for="name" class="form-control">File Name <input class="form-control" type="text" name="name" ></label>
        <div class="form-group"><label for="file" class="form-control">File: <input class="form-control" type="file" name="file" /></label>
            <br/>
        <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

{% endblock %}
