<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="copyright" content="Copyright ©, Highland Light Scottish Pipe Band, All Rights Reserved"/>
  <meta name="rating" content="General"/>
  <meta name="robots" content="index,follow"/>
  <meta name="distribution" content="global"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <meta http-equiv="Content-Language" content="en-us"/>
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
  <meta name="description" content="Homepage of the Highland Light Scottish Pipe Band. We practice and play on and off Cape Cod. If you're interested in booking us for a gig, or joining the band, take a look through the site, and get in touch!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- for facebook -->
  <meta property="og:title" content="Highland Light Sottish Pipe Band"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="Homepage of the Highland Light Scottish Pipe Band. We practice and play on and off Cape Cod. If you're interested in booking us for a gig, or joining the band, take a look through the site, and get in touch!"/>
  <!--end facebook -->
  <!-- for twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://www.highlandlight.com">
  <meta name="twitter:description" content="Homepage of the Highland Light Scottish Pipe Band. We practice and play on and off Cape Cod. If you're interested in booking us for a gig, or joining the band, take a look through the site, and get in touch!">
  <!-- end twitter -->
  <link rel="shortcut icon" href="/images/logo.jpg" type="image/jpeg" />

    <title>{% block title %}Highland light Member Home{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/member.css">
</head>
<body>

<header>
  {% if user %}
      <nav>
        <a {% if active == 'profile' %} class="active" {% endif %} href="/profile">My Profile</a><a {% if active == 'tunes' %} class="active" {% endif %} href="/tunes">Sheet Music</a><a {% if active == 'documents' %} class="active" {% endif %} href="/documents">Band Documents</a><a {% if active == 'directory' %} class="active" {% endif %} href="/directory">Member Directory</a>{% if user.role == 'admin' %}<a {% if active == 'admin' %} class="active" {% endif %} href="/admin">Admin</a>{% endif %}<a  href="/logout">Logout</a></nav>
        {% endif %}

</header>
<div class="container-fluid">
  <div class="col-xs-12 clearfix announcement">
    {% block announcement %}
    {% if announcements.length %}
      {% for item in announcements %}
        <div class="col-xs-12 col-md-8 col-md-offset-2 alert alert-info">
          <h3 class="text-bold">{{ item.title }}</h3>
          <p>{{ item.content }}</p>
        </div>
      {% endfor %}

    {% endif %}
    {% endblock %}
  </div>
  <div class="col-xs-12 mainContent">
    {% block content %}{% endblock %}
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>
