{% extends 'layoutPrivate.html' %}

{% block title %}{{tune.name}}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <form method="POST" action="/tunes/update" enctype="multipart/form-data">
        <input type="hidden" name="name" value="{{tune.name}}">
            <p>Choose the part you want to upload:</p>
            <ul class="list-unstyled">
                <li><label>Melody <input type="radio" name="tuneType" value="melody"/></label></li>
                <li><label>Seconds <input type="radio" name="tuneType" value="seconds"/></label></li>
                <li><label>Thirds <input type="radio" name="tuneType" value="thirds"/></label></li>
                <li><label>Snare <input type="radio" name="tuneType" value="snare"/></label></li>
                <li><label>Tenors <input type="radio" name="tuneType" value="tenors"/></label></li>
                <li><label>Bass <input type="radio" name="tuneType" value="bass"/></label></li>
            </ul>
            <p>Choose the file:</p>
            <input type="file" name="file" />
            <br/>
        <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>


{% endblock %}