{% extends 'layoutPrivate.html' %}
{% block announcement %}
{% endblock %}
{% block content %}
    <div class="col-sm-8 col-sm-offset-2">

        <h1>Admin Home</h1>

        <!-- show any messages that come back with authentication -->
        {% if message.length > 0 %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}

        <div class="col-xs-12"><h3 class="row spaceBelow"> Announcements <a href="/members/announcement/new" class="pull-right"><button class="btn btn-warning">New Announcement</button></a></h3>
        {% for an in announcements %}
        <div class="col-xs-12 spaceBelow">
          <h5 class="clearfix"><a href="/members/announcement/edit?id={{an.id}}" >{{an.title}}</a><a href="/members/announcement/edit?id={{an.id}}&action=delete" class="pull-right asyncAction confirm"><button class="btn btn-warning">Delete</button></a></h5>
          <p class="clearfix">Actively being shown: <span class="bool">{{an.active}}</span> <a href="/members/announcement/edit?id={{an.id}}&action=toggle&field=active" class="pull-right asyncAction"><button class="btn btn-warning">Toggle Active Status</button></a></p>
          <p class="clearfix">Shown on public pages: <span class="bool">{{an.showPublic}}</span> <a href="/members/announcement/edit?id={{an.id}}&action=toggle&field=showpublic" class="pull-right asyncAction"><button class="btn btn-warning">Toggle Active Status</button></a></p>
          <p class="clearfix">Shown on private pages: <span class="bool">{{an.showPrivate}}</span> <a href="/members/announcement/edit?id={{an.id}}&action=toggle&field=showprivate" class="pull-right asyncAction"><button class="btn btn-warning">Toggle Active Status</button></a></p>
        </div>
        {% endfor %}
        </div>
        <div class="col-xs-12"><h3 class="row spaceBelow"> Members </h3>
          {% for member in members %}
          <div class="col-xs-12 spaceBelow memberAdminFunctions">
            <h5><a href="/members/profile?id={{member.id}}" >{{member.name}}</a></h5>
            <p class="col-xs-12 clearfix">Preferred contact method: {{member.primaryContactMethod}}</p>
            <p class="col-xs-12 clearfix"><a href="mailto:{{member.email}}">Email {{member.name}}</a></p>
            {% if member.phone %}
              <p class="col-xs-12 clearfix"><a href="tel:{{member.phone}}">Call {{member.name}} <small>(must be on a phone)</small></a></p>
              {% if member.acceptTexts %}
                <p class="col-xs-12 clearfix"><a href="sms:{{member.phone}}">Text {{member.name}} <small>(must be on a phone, not supported on all devices)</small></a></p>
              {% endif %}
            {% endif %}
            <p class="col-xs-12 clearfix">Active Member: <span class="bool">{{member.active}}</span> <a href="/members/toggleUser/{{member.id}}?action=active" class="pull-right asyncAction"><button class="btn btn-warning">Toggle Active Status</button></a></p>
            <p class="col-xs-12 clearfix">Website role: <span class="bool">{{member.role}}</span> <a href="/members/toggleUser/{{member.id}}?action=role&role=admin" class="pull-right asyncAction"><button class="btn btn-warning">Make Admin</button></a> &nbsp; <a href="/members/toggleUser/{{member.id}}?action=role&role=member" class="pull-right asyncAction"><button class="btn btn-warning">Make Member</button></a> &nbsp; <a href="/members/toggleUser/{{member.id}}?action=role&role=temp" class="pull-right asyncAction"><button class="btn btn-warning">Revoke Access</button></a></p>
          </div>
          {% endfor %}
        </div>
{% endblock %}
