{% extends 'layoutPrivate.html' %}

{% block title %}Events{% endblock %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h2>Event list {% if user.role == 'admin' %} <a href="/members/events/new" class="pull-right"><button class="btn btn-warning">Add Event</button></a> {% endif %}</h2>

    <ul class="list-unstyled">
{% for venue in venues %}
    <li><h4><a href="/members/event/venue?id={{venue.venueId}}">{{venue.venueName}}</a></h4>
    <a href="/members/event/eventDetail?id={{venue.venueId}}&event={{venue.eventId}}">{{ venue.eventDate | date('D m/d/y h:i')}}</a></li>

{% endfor %}
    </ul>
</div>
{% endblock %}
