{% extends 'layoutPrivate.html' %}
{% block title %}Member Profile{% endblock %}

{% block content %}
<div class="page-header text-center">
    <h1>Member Directory</h1>
</div>

<div class="row">

    <div class="col-xs-6 col-xs-offset-3">
        <div class="well">
            <ul class="list-unstyled">
                {% for item in members %}
                  {% if item.inDirectory || user.role == 'admin' %}
                  <li class="row"><a href="/profile?id={{item.id}}" class="col-xs-3">{{item.name}}</a> <a href="mailto:{{item.email}}" class="col-xs-3">Email</a> {% if item.phone %} <a href="tel:{{item.phone}}" class="col-xs-3">Call</a> <a href="sms:{{item.phone}}" class="col-xs-3">Text</a> {% endif %}</li>
                  {% else %}
                  <li>{{item.name}}</li>
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
    {% endblock %}
