{% extends 'layout_public.html' %} {% block title %}About the {{band.name}}{% endblock %} {% block content %}
<article>
	<h2>Highland Light Scottish Pipe Band</h2>
	<p>For over thirty-seven years, Highland Light Scottish Pipe Band has been thrilling audiences with the traditional music and spectacle of the Great Highland Bagpipes and Drums.</p>
</article>

</article>
<article>
		<h3>History:</h3>
		<p class="clearfix">	<img src="/{{band.bandCode}}/static/images/0_0_0_0_122_273_csupload_18181499.jpg?u=1378815150" class="image-responsive borderedImage pull-left" alt="The Highland Light lighthouse, the inspiration for the band's name" style="margin:0 15px 0 0;"/>
			The Band's beginnings can be traced to the early 1970's, when an evening class in introductory piping was taught at Dennis-Yarmouth High School, by William "Bill" Andrew Brittain and Bruce Cameron Williams. Bill became the first Pipe Major of the Band and Bruce, the first Pipe Sergeant when it was organized a short time later. HLSPB's first public appearance was in 1978 at a parade in Falmouth. The Band's name is taken from <a href="http://www.capecodlight.org/">Highland Light,</a> also known as Cape Cod Light, an historical lighthouse in Truro. It also echoes the
  name of an historic Scottish regiment, The Highland Light Infantry regiment.</p>
</article>
<article><h3>Performances:</h3>
	<p>The Band plays a full schedule of parades and concerts each year on Cape Cod, southeastern Massachusetts and beyond. Highland Light is noted for presenting the best of the traditional repertoire for pipes and drums in a style based on the traditions of the Highland regiments. Our pipers and drummers are from Cape Cod and southeastern Massachusetts and rehearse year round on the Cape.</p>
</article>
<figure>
<img src="/{{band.bandCode}}/static/images/0_0_0_0_354_169_csupload_53442563.jpg?u=3841693606" class="image-responsive borderedImage" alt="The Highland Light Scottish Pipe Band playing at the Cape Code Scottish festival"/>
	<figcaption>Cape Cod Scottish Festival 2012, Yarmouth, MA</figcaption>
</figure>

<article>
	<h3>Competition Group:</h3>
	<p>Highland Light fields a competition group as a Grade V band, several times a year at <a href="http://www.euspba.org/" target="_blank" >Eastern United States Pipe Band Association</a> sanctioned Highland games. See our <a href="/events">Events</a> Page for places, dates and times.</p>
</article>
<figure>
	<img src="/{{band.bandCode}}/static/images/0_0_0_0_207_155_csupload_53442600.jpg?u=2589887768" class="image-responsive borderedImage" alt="The Highland Light drummers preparing to perform in the Plymouth Thanksgiving parade">
	<figcaption>
		On the lawn at the Morse's house, before the Thanksgiving parade
	</figcaption>
</figure>

<article>
	<h3>Membership:</h3>
	<p>The Band offers instruction in piping and drumming to prospective members of all ages and abilities. See our <a href="/join" class="userlink">Bagpipe and Drum Lessons</a> page for further details. Experienced pipers and drummers are welcome to visit our rehearsals, and are invited to consider membership in the Band.</p>
</article>

{% endblock %}
