{% extends 'layout_public.html' %}
{% block title %}Contact the {{band.name}}{% endblock %}
{% block content %}
<h3>Contact Us</h3>
<article>
	<img src="/{{band.bandCode}}/static/images/0_0_0_0_453_340_csupload_53472415.jpg?u=3673697254" width="453" height="340" >
<p>For information about joining the band or taking lessons contact Pipe Major Sheldon Hamblin at <a href="mailto:shambl4803@aol.com" class="userlink">shambl4803@aol.com</a></p>
<p>To discuss engaging the band for your event, or to hire individual pipers and/or drummers, contact Doug MacLeod, the band manager at <a href="tel:6177505983">617-750-5983</a> or <a href="mailto:mgr@HighlandLight.com" class="userlink">mgr@HighlandLight.com</a></p>
</article
{% endblock %}
