{% extends 'layout_public.html' %} {% block title %}{{band.name}} directions{% endblock %} {% block content %}
<h3>Visitors Are Welcome</h3>
<p>Guests and prospective students or members are welcome to observe our rehearsals on Thursday evenings. During summer performance season we may miss a practice. Check with our band manager <a href="mailto:mgr@highlandlight.com">mgr@highlandlight.com</a> to make sure we will be there.</p>
<h4>2017 Rehearsal Schedule</h4>
<p>Practice times: Student Instruction 6:00 - 7:00, Band Practice 7:00 - 9:30 PM<br/>
<!-- at the <a href="http://www.wearytravelersclub.com/" class="userlink">Weary Travelers Club in Bourne (Directions below, GPS &amp; Google maps send you the wrong way!)</a></p>
<p>77 Valley Bars Road <br/>Bourne, MA 02532</p> -->
Practices will be held at the Emmanuel Church of the Nazarene unless otherwise noted.</p>
<p>6 Rogers Road. Wareham, MA 02571</p>
<p>Competition practices as follows</p>
<ul class="list-unstyled">
	<li>2017</li>

	<li>August</li>
	<li>Thursday 8/3</li>
	<li>Tuesday 8/8</li>
	<li>Thursday 8/17</li>
	<li>Thursday 8/24</li>
	<li>Tuesday 8/29 (John Cairns TBD)</li>
	<li>Thursday, 8/31</li>
	<li>September</li>
	<li>Thursday, 9/7</li>
	<li>Tuesday 9/12</li>
	<li>Thursday, 9/21</li>
	<li>Tuesday, 9/26 (Drummers only - TBD)</li>
	<li>Thursday, 9/28</li>
	<li>October</li>
	<li>Thursday, 10/5</li>
	<li>Tuesday, 10/10</li>
	<li>Tuesday, 10/17 (John Cairns TBD)</li>
	<li>Thursday 10/19</li>
	<li>Thursday 10/26</li>
</ul>


<h3>Directions: </h3>
<p>Rogers Rd. is located at the end of Campinha Way, just off of Sandwich Rd. (US Rt. 6), one block away from the intersection of Sandwich Rd. and Cranberry Highway (MA Rt. 28).</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.1005538540044!2d-70.68187178454072!3d41.76148977923155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e4c685641ea347%3A0x17516a34eaadc099!2s6+Rogers+Rd%2C+Wareham%2C+MA+02571!5e0!3m2!1sen!2sus!4v1496753546056" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<!--
<p>DeWitt Clinton Masonic Lodge, 175 Main street, Sandwich, MA</p>
<p>Schedule updated January 4, 2016</p>
<div class="text-center">
<h4>Directions</a></span></div>
<div align="center"><span class="text-class-3">Weary Traveller's Club</span></div>
<div align="center"><span class="text-class-3">&nbsp;77 Valley Bars Road</span></div>
<div align="center"><span class="text-class-3">Bourne, MA 02532</span></div>
<div align="center">
    <div id="_918bf8f8add9445288fe25c0ae31c1e9" style="float:left;height:250px;margin:0 1.5em 7px 0;width:250px;">
        <div id="_918bf8f8add9445288fe25c0ae31c1e9_map" class="mapquest-map-container" style="height: 233px; width: 250px; position: relative;">

            <div style="width: 250px; height: 233px; z-index: 0; overflow: hidden; background: rgb(255, 255, 255); position: relative; top: 0px; left: 0px; cursor: -webkit-grab;">
                <div class="mqa-display" style="position: absolute; z-index: 0;">
                    <div class="mqa-zl mqa-zl100 mqa-zlf" style="position: absolute; z-index: 100; cursor: default;">
                        <div style="position: absolute;"><img src="http://content.mqcdn.com/sdk/js/v7.0.1/images/nothing.gif" style="display: none;"><img src="http://content.mqcdn.com/sdk/js/v7.0.1/images/nothing.gif" style="display: none;"><img src="http://content.mqcdn.com/sdk/js/v7.0.1/images/nothing.gif"
                                style="display: none;">
                            <div class="mapControl smallZoom map" style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); z-index: 100; top: 4px; left: 4px;">
                                <div class="zoomin" title="Zoom In" style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;);"></div>
                                <div class="zoomout" title="Zoom Out" style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;);"></div>
                            </div>
                        </div>
                        <div style="position: absolute; left: 250px;">
                            <div class="mapControl mapTogglesWrapper map"><span class="viewOptionsWrapper"><span class="maptoggle maptoggleLeft mapView mapviewtoggleS"><span style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); z-index: 60;">MAP</span></span>
                                <span
                                    class="maptoggle maptoggleRight satelliteView" style="z-index: 100; background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;);"><span style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); z-index: 60;">SATELLITE</span></span><span class="belowToggle" style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); display: none;"><span style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); z-index: 60;"><input type="checkbox"><strong>Show Labels</strong></span></span>
                                    </span>
                            </div>
                        </div>
                        <div style="position: absolute; top: 233px;"></div>
                        <div style="position: absolute; left: 250px; top: 233px;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl0 mqa-zlgl" style="position: absolute; z-index: 0; left: 125px; top: 116.5px;">
                        <div style="position: absolute; background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/loading-tile-gears.jpg&quot;); background-repeat: repeat; left: -1149px; top: -1140.5px; width: 2298px; height: 2281px;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl10 mqa-zlf" style="position: absolute; z-index: 22;"><img class="questyLogo" src="http://content.mqcdn.com/sdk/js/v7.0.1/images/questy_sm.png" width="100" height="20" style="width: 100px; height: 20px; position: absolute; display: block; z-index: 22; left: 5px; top: 208px;">
                        <div style="position: absolute; display: none; overflow: hidden; z-index: 22; width: 150px; height: 26px; left: 109px; top: 200px;">
                            <div class="scale_bar" style="margin-bottom: 2px; width: 59.5348px;">
                                <div class="scale_text">5000ft</div>
                            </div>
                            <div class="scale_bar" style="margin-bottom: 1px; margin-top: 14px; width: 78.1296px;">
                                <div class="scale_text">2000m</div>
                            </div>
                        </div>
                        <div style="position: absolute; left: 250px; top: 233px;">
                            <div class="mqacopyright mqacopyrightdark" style="position: absolute; bottom: 0px; right: 5px; text-align: right; z-index: 22;">©2016 MapQuest, © TomTom, <a href="http://hello.mapquest.com/attributions-mapbox">©2016 Mapbox</a> | <a id="terms" class="termsLink" target="_blank" href="http://hello.mapquest.com/terms-of-use">Terms</a></div>
                        </div>
                    </div>
                    <div class="mqa-zl mqa-zl1000 mqa-zlf" style="position: absolute; z-index: 1000;">
                        <div style="position: absolute; z-index: 1000; left: 0px; top: 0px;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl1000 mqa-zlgl" style="position: absolute; z-index: 1000; left: 125px; top: 116.5px;">
                        <div style="position: absolute; z-index: 1000;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl5 mqa-zlgl" style="position: absolute; z-index: 5; left: 125px; top: 116.5px;">
                        <div style="position: absolute;"><img unselectable="on" galleryimg="no" src="http://d.tiles.mapbox.com/v4/mapquest.streets/12/1245/1525.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg" style="position: absolute; left: 61px; top: 24px;">
                            <img
                                unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1244/1525.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg" style="position: absolute; left: -195px; top: 24px;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1245/1524.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg" style="position: absolute; left: 61px; top: -232px;">
                                <img
                                    unselectable="on" galleryimg="no" src="http://d.tiles.mapbox.com/v4/mapquest.streets/12/1245/1526.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg" style="position: absolute; left: 61px; top: 280px;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1244/1524.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -195px; top: -232px;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1246/1525.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 317px; top: 24px;"><img unselectable="on" galleryimg="no" src="http://c.tiles.mapbox.com/v4/mapquest.streets/12/1244/1526.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -195px; top: 280px;"><img unselectable="on" galleryimg="no" src="http://c.tiles.mapbox.com/v4/mapquest.streets/12/1245/1523.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 61px; top: -488px;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1246/1524.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 317px; top: -232px;"><img unselectable="on" galleryimg="no" src="http://d.tiles.mapbox.com/v4/mapquest.streets/12/1244/1523.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -195px; top: -488px;"><img unselectable="on" galleryimg="no" src="http://c.tiles.mapbox.com/v4/mapquest.streets/12/1246/1526.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 317px; top: 280px;"><img unselectable="on" galleryimg="no" src="http://d.tiles.mapbox.com/v4/mapquest.streets/12/1243/1525.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -451px; top: 24px;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1246/1523.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 317px; top: -488px;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1243/1524.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -451px; top: -232px;"><img unselectable="on" galleryimg="no" src="http://b.tiles.mapbox.com/v4/mapquest.streets/12/1243/1526.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -451px; top: 280px;"><img unselectable="on" galleryimg="no" src="http://c.tiles.mapbox.com/v4/mapquest.streets/12/1243/1523.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -451px; top: -488px;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl20 mqa-zlgl" style="position: absolute; z-index: 20; left: 125px; top: 116.5px;"></div>
                    <div class="mqa-zl mqa-zl80 mqa-zlgl" style="position: absolute; z-index: 80; left: 125px; top: 116.5px;"><img unselectable="on" galleryimg="no" src="http://icons.mqcdn.com/icons/stop.png" width="22" height="28" style="display: block; cursor: default; position: absolute; top: -28px; left: -11px;"></div>
                    <div class="mqa-zl mqa-zl50 mqa-zlgl"
                        style="position: absolute; z-index: 50; left: 125px; top: 116.5px;"><img unselectable="on" galleryimg="no" src="http://content.mqcdn.com/sdk/js/v7.0.1/images/poi/shadow.png" width="23" height="7" style="display: block; position: absolute; top: -4px; left: -5px;"></div>
                </div>
            </div>
        </div>
        <div style="width:100%;text-align:left;">
            <a id="_918bf8f8add9445288fe25c0ae31c1e9_directions" class="userlink" href="#" onclick="showDrivingDirections('[77-89] Valley Bars Rd', 'Buzzards Bay', 'MA', '02532', 'US');" style="text-align:left;">Driving Directions</a>
        </div>
    </div>
<h5>From Route 6 on Cape</h5>

<p>Take Exit 1 LEFT on Adams Street, to the end</p>
<p>At the end, LEFT on Sandwich road, follow along the canal to the Bourne Rotary</p>
<p>take Route 28, MacArthur Blvd towards Falmouth</p>
<p>Take a RIGHT on Clay Pond Road</p>
<p>follow to Valley Bars Rd. take a LEFT. GPS &amp; Google maps send you the wrong way!(Valley bars road comes in on the right 300' before, you want the LEFT)
</p>
<br/>
<p>VALLEY BARS ROAD IS A RESIDENTIAL NEIGHBORHOOD 30 MPH MAX PLEASE!</p>
</br>
<div align="center">Follow to the end, park in the upper parking lot.</div>
<div align="center"><span class="text-class-3"><br></span></div>
<div align="center"><span class="text-class-3">From off Cape</span>&nbsp;</div>
<div align="center">Come over Bourne Bridge, stay on Route 28. MacArthur Blvd.</div>
<div align="center">take Route 28, MacArthur Blvd towards FalmouthTake a <span class="text-class-3">RIGHT on Clay Pond Road</span> follow to <span class="text-class-3"><u>Valley Bars Rd. &nbsp;take a LEFT</u></span>. <span class="text-class-56">GPS &amp; Google maps send you the wrong way! (Valley bars road comes in on the right 300' before, you want the <span class="text-class-3">LEFT</span>)</span>
</div>
<div align="center"><span class="text-class-3"><u>VALLEY BARS ROAD IS A RESIDENTIAL NEIGHBORHOOD 30 MPH MAX PLEASE!</u></span>Follow to the end, park in the upper parking lot.</div>
</div>

<p>DeWitt Clinton Lodge AF &amp; AM</p>
<div>
    <div id="_eb1cd2b660c141fb94cc0b9418c8ca40" style="float:left;height:259px;margin:0 1.5em 7px 0;width:213px;">
        <div id="_eb1cd2b660c141fb94cc0b9418c8ca40_map" class="mapquest-map-container" style="height: 259px; width: 213px; position: relative;">

            <div style="width: 213px; height: 259px; z-index: 0; overflow: hidden; background: rgb(255, 255, 255); position: relative; top: 0px; left: 0px; cursor: -webkit-grab;">
                <div class="mqa-display" style="position: absolute; z-index: 0;">
                    <div class="mqa-zl mqa-zl100 mqa-zlf" style="position: absolute; z-index: 100; cursor: default;">
                        <div style="position: absolute;"><img src="http://content.mqcdn.com/sdk/js/v7.0.1/images/nothing.gif" style="display: none;"><img src="http://content.mqcdn.com/sdk/js/v7.0.1/images/nothing.gif" style="display: none;"><img src="http://content.mqcdn.com/sdk/js/v7.0.1/images/nothing.gif"
                                style="display: none;">
                            <div class="mapControl smallZoom map" style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); z-index: 100; top: 4px; left: 4px;">
                                <div class="zoomin" title="Zoom In" style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;);"></div>
                                <div class="zoomout" title="Zoom Out" style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;);"></div>
                            </div>
                        </div>
                        <div style="position: absolute; left: 213px;">
                            <div class="mapControl mapTogglesWrapper map"><span class="viewOptionsWrapper"><span class="maptoggle maptoggleLeft mapView mapviewtoggleS"><span style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); z-index: 60;">MAP</span></span>
                                <span
                                    class="maptoggle maptoggleRight satelliteView" style="z-index: 100; background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;);"><span style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); z-index: 60;">SATELLITE</span></span><span class="belowToggle" style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); display: none;"><span style="background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/sprite_map_controls.png&quot;); z-index: 60;"><input type="checkbox"><strong>Show Labels</strong></span></span>
                                    </span>
                            </div>
                        </div>
                        <div style="position: absolute; top: 259px;"></div>
                        <div style="position: absolute; left: 213px; top: 259px;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl0 mqa-zlgl" style="position: absolute; z-index: 0; left: 106.5px; top: 129.5px;">
                        <div style="position: absolute; background-image: url(&quot;http://content.mqcdn.com/sdk/js/v7.0.1/images/loading-tile-gears.jpg&quot;); background-repeat: repeat; left: -1130.5px; top: -1153.5px; width: 2261px; height: 2307px;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl10 mqa-zlf" style="position: absolute; z-index: 22;"><img class="questyLogo" src="http://content.mqcdn.com/sdk/js/v7.0.1/images/questy_sm.png" width="100" height="20" style="width: 100px; height: 20px; position: absolute; display: block; z-index: 22; left: 5px; top: 234px;">
                        <div style="position: absolute; display: none; overflow: hidden; z-index: 22; width: 150px; height: 26px; left: 109px; top: 226px;">
                            <div class="scale_bar" style="margin-bottom: 2px; width: 59.4937px;">
                                <div class="scale_text">5000ft</div>
                            </div>
                            <div class="scale_bar" style="margin-bottom: 1px; margin-top: 14px; width: 78.0757px;">
                                <div class="scale_text">2000m</div>
                            </div>
                        </div>
                        <div style="position: absolute; left: 213px; top: 259px;">
                            <div class="mqacopyright mqacopyrightdark" style="position: absolute; bottom: 0px; right: 5px; text-align: right; z-index: 22;">©2016 MapQuest, © TomTom, <a href="http://hello.mapquest.com/attributions-mapbox">©2016 Mapbox</a> | <a id="terms" class="termsLink" target="_blank" href="http://hello.mapquest.com/terms-of-use">Terms</a></div>
                        </div>
                    </div>
                    <div class="mqa-zl mqa-zl1000 mqa-zlf" style="position: absolute; z-index: 1000;">
                        <div style="position: absolute; z-index: 1000; left: 0px; top: 0px;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl1000 mqa-zlgl" style="position: absolute; z-index: 1000; left: 106.5px; top: 129.5px;">
                        <div style="position: absolute; z-index: 1000;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl5 mqa-zlgl" style="position: absolute; z-index: 5; left: 106.5px; top: 129.5px;">
                        <div style="position: absolute;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1246/1524.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg" style="position: absolute; left: 17px; top: -59px;">
                            <img
                                unselectable="on" galleryimg="no" src="http://c.tiles.mapbox.com/v4/mapquest.streets/12/1246/1525.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg" style="position: absolute; left: 17px; top: 197px;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1245/1524.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg" style="position: absolute; left: -239px; top: -59px;">
                                <img
                                    unselectable="on" galleryimg="no" src="http://b.tiles.mapbox.com/v4/mapquest.streets/12/1247/1524.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg" style="position: absolute; left: 273px; top: -59px;"><img unselectable="on" galleryimg="no" src="http://c.tiles.mapbox.com/v4/mapquest.streets/12/1245/1525.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -239px; top: 197px;"><img unselectable="on" galleryimg="no" src="http://d.tiles.mapbox.com/v4/mapquest.streets/12/1246/1523.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 17px; top: -315px;"><img unselectable="on" galleryimg="no" src="http://d.tiles.mapbox.com/v4/mapquest.streets/12/1247/1525.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 273px; top: 197px;"><img unselectable="on" galleryimg="no" src="http://b.tiles.mapbox.com/v4/mapquest.streets/12/1246/1522.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 17px; top: -571px;"><img unselectable="on" galleryimg="no" src="http://b.tiles.mapbox.com/v4/mapquest.streets/12/1245/1523.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -239px; top: -315px;"><img unselectable="on" galleryimg="no" src="http://b.tiles.mapbox.com/v4/mapquest.streets/12/1247/1523.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 273px; top: -315px;"><img unselectable="on" galleryimg="no" src="http://a.tiles.mapbox.com/v4/mapquest.streets/12/1245/1522.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -239px; top: -571px;"><img unselectable="on" galleryimg="no" src="http://d.tiles.mapbox.com/v4/mapquest.streets/12/1247/1522.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: 273px; top: -571px;"><img unselectable="on" galleryimg="no" src="http://d.tiles.mapbox.com/v4/mapquest.streets/12/1244/1524.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -495px; top: -59px;"><img unselectable="on" galleryimg="no" src="http://b.tiles.mapbox.com/v4/mapquest.streets/12/1244/1522.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -495px; top: -571px;"><img unselectable="on" galleryimg="no" src="http://c.tiles.mapbox.com/v4/mapquest.streets/12/1244/1525.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -495px; top: 197px;"><img unselectable="on" galleryimg="no" src="http://b.tiles.mapbox.com/v4/mapquest.streets/12/1244/1523.png?access_token=pk.eyJ1IjoibWFwcXVlc3QiLCJhIjoiY2Q2N2RlMmNhY2NiZTRkMzlmZjJmZDk0NWU0ZGJlNTMifQ.mPRiEubbajc6a5y9ISgydg"
                                        style="position: absolute; left: -495px; top: -315px;"></div>
                    </div>
                    <div class="mqa-zl mqa-zl20 mqa-zlgl" style="position: absolute; z-index: 20; left: 106.5px; top: 129.5px;"></div>
                    <div class="mqa-zl mqa-zl80 mqa-zlgl" style="position: absolute; z-index: 80; left: 106.5px; top: 129.5px;"><img unselectable="on" galleryimg="no" src="http://icons.mqcdn.com/icons/stop.png" width="22" height="28" style="display: block; cursor: default; position: absolute; top: -28px; left: -11px;"></div>
                    <div class="mqa-zl mqa-zl50 mqa-zlgl"
                        style="position: absolute; z-index: 50; left: 106.5px; top: 129.5px;"><img unselectable="on" galleryimg="no" src="http://content.mqcdn.com/sdk/js/v7.0.1/images/poi/shadow.png" width="23" height="7" style="display: block; position: absolute; top: -4px; left: -5px;"></div>
                </div>
            </div>
        </div>
    </div>175 Main Street, Sandwich, Mass. 02536</div>

<p>From US Rte. 6 (Mid-Cape Highway)</p>
<p>take Exit 2, Rte. 130</p>
<p>At bottom of ramp turn Left (North) onto Rte 130</p>
<p>After 1.5 miles turn right onto Beale Ave., immediately after the Henry Wing School and follow Beale Ave. to end.</p>
<div>Turn left onto Main Street.&nbsp; Lodge is a short distance on right at corner of Liberty Street.
	<p>Please do not park on Liberty Street.</p>
<p>From Rte 6A, turn South on Liberty Street, one block</p>
<p>East from Jarves Street traffic light in Sandwich Center.</p>
<p>Important note: MapQuest misidentifies the address as "Old Main Street"</p> -->
{% endblock %}
