{% extends 'layout_public.html' %} {% block title %}{{band.name}} Home{% endblock %} {% block content %}
<h3>2017 Event Schedule</h3>
<div class="text-center">
<img src="/{{band.bandCode}}/static/images/events_header.jpg" alt="The Highland Light Pipe Band circled up to palay a slow air during a parade." class="borderedImage" title="The Highland Light Pipe Band circled up to palay a slow air during a parade." />
</div>
<p>Event date and times are updated as soon as organizers post them. Some dates may be projected based on previous years schedules. (?) Denotes dates that have not been posted by the organizers yet. </p>
<div class="calendarOfEvents">
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>Jan. 21 6:00 PM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Robert Burns dinner</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Double Tree Hotel, Hyannis, MA<br>
				Follow the <a href="https://www.facebook.com/scotsoncapecod/">Highland Light Scottish Society</a> on Facebook</p>
			</div>
	</div>

</div>

<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>March 4</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Cape Cod St. Patrick's parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Intersection of Long Pond &amp; Route 28 Yarmouth<br/>
				<a href="http://capecodstpatsparade.com" target="_blank" class="userlink">capecodstpatsparade.com</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>March&nbsp;19 1:00 PM </p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Abington St. Patrick's Day Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Abington, MA: Check out the parade details on<a href="https://www.facebook.com/Abington-St-Patricks-Day-Parade-123884187683407/" class="userlink">facebook</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>April 1</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>NH Indoor Games COMPETITION</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Hosted by the <a href="http://nhssa.org/">New Hampshire School of Scottish Arts </a><br/>
					Nashua High School, Nashua, NH</p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>May 6(?) 1:00PM </p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Brewster In Bloom Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Main Street, Brewster, MA<br>&nbsp;See all the other <a href="http://www.brewster-capecod.com/brewsterblooms/" class="userlink">blooming things</a> in Brewster</p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>May 25th 4:00 PM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4><a href="http://www.capecod.edu" class="userlink">Cape Cod Community College</a> Commencement</h4></div>
			<div class="col-xs-12 col-md-6">
				<p><a href="http://www.melodytent.org/">Cape Cod Melody Tent</a>, West End Rotary, Hyannis <br/></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>May 28 1:00 PM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Nantucket Memorial Day Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Nantucket, MA</p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>May 29 9:00 AM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Centerville Memorial Day Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Centerville, MA</p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>June 10</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Rhode Island COMPETITION</h4></div>
			<div class="col-xs-12 col-md-6">
				<p><a href="http://www.riscot.org" class="userlink">Rhode Island Highland Games</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>June 24(?) - 2:00 PM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4><a href="http://provincetownportuguesefestival.com" class="userlink">Provincetown Portuguese Festival</a> Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Commercial Street, Provincetown, MA</p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>July 4th 9:00 AM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Chatham Independence Day Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Main Street, Chatham, MA<br> The best way to <a href="http://www.chathamparade.com" target="_blank" class="userlink">celebrate your 4th</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>July 15</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Glasgowlands Scottish Festival COMPETITION</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Look Park, Northampton, MA<br/>
				Come see us compete in our only <a href="http://www.glasgowlands.org" target="_blank" class="userlink">highland games in MA</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>July (?) 7:00 pm</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Pilgrim Congregational Church, UCC - Concert</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Pilgrim Congregational Church, UCC, Harwichport, MA <a href="http://www.pilgrimchurchharwichport.com" class="userlink">http://www.pilgrimchurchharwichport.com</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>Aug 19</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Maine COMPETITION</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Topsham Fairgrounds, Topsham, ME <br/>
				Hosted be the <a href="http://www.mainehighlandgames.org/" class="userlink">St. Andrews Society of Maine</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>Aug 26 (?)</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Vermont COMPETITION</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Polo Grounds, Quechee, VT</p>
			</div>
	</div>

</div>

<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>September 10 1:00 PM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Eastham Windmill Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Route 6A, Eastham, MA <br/>  Make it a weekend, and don't get <a href="http://www.easthamwindmillweekend.com/events" class="userlink">blown away by the windmill</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>Sept 15,16,17</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>New Hampshire Highland Games COMPETITION</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Loon Mountain, NH</span></div>
				<div>New England's biggest highland games, where we'll <a href="http://www.nhscot.org/" class="userlink">compete against the biggest pool of bands.</a> We play on Saturday.</p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>October 8 1:00 PM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Yarmouth Seaside Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Route 28 Yarmouth</p>
			</div>
	</div>

</div>

<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>November 11th 11:00 AM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>New Bedford Veterans Day Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>New Bedford, MA</p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>November 18 9:00 AM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>America's hometown celebration parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Court Street, Plymouth, MA<a href="http://www.usathanksgiving.com" class="userlink">Bagpipes, Turkey's and a whole lot of friends!</a></p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>December  12:00 PM</p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Falmouth Christmas Parade</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>Falmouth, MA</p>
			</div>
	</div>

</div>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<div class="row">
	<div class="col-xs-4 col-sm-2 dateCol">
		<p>December 31 7:00 PM </p>
	</div>
	<div class="col-xs-8 col-sm-10">
			<div class="col-xs-12 col-md-6"><h4>Sandwich First Night</h4></div>
			<div class="col-xs-12 col-md-6">
				<p>175 Main Street, Sandwich, MA <a href="http://www.firstnightsandwich.org" target="_blank" class="userlink">www.firstnightsandwich.org</a></p>
			</div>
	</div>

</div>

</div>
    {% endblock %}
