{% extends 'layout_public.html' %} {% block title %}Hire the {{band.name}}{% endblock %} {% block content %}
	<h3>Hire the Band</h3>
  <img src="/{{band.bandCode}}/static/images/0_0_0_0_251_150_csupload_53442794.jpg?u=1651169194" width="251" height="150"/>
	<h4>Availability</h4>
	<p>Highland Light welcomes all inquiries into performing at your event, be it parade, concert, graduation, weddings, funerals, memorial services,dedications, marriage proposals or other private functions. HLSPB is available either as a Full Band or a Mini-Band (4-5 pipers and 2 drummers) or if you wish to hire a bagpiper and/or drummer, we can provide individual musicians for your function.</p>
<p>The Highland Light Scottish Pipe Band is a 501 (c) 3 corporation</p>

<p>For more information Contact the Band Manager Doug MacLeod at via <a href="mailto:mgr@highlandlight.com" class="userlink">email</a> or phone: <a href="tel:617-750-5983">617-750-5983<?a>.</p>
{% endblock %}
