{% extends 'layout_public.html' %} {% block title %}Hire the {{band.name}}{% endblock %} {% block content %}
	<h3>Hire the Band</h3>
  <img src="/{{band.bandCode}}/static/images/0_0_0_0_251_150_csupload_53442794.jpg?u=1651169194" width="251" height="150"/>
	<p>
		The Highland Light is always looking for opportunities to perform. We're known throughout Cape Cod and South Eastern Ma for parades, but that's just the surface. Our pipers have performed many graduation ceremonies, concerts, and weddings, as well as the funerals, memorial services, and dedications.
	</p>
	<p>Not every event requires a whole band, and for those occasions, you can hire a small subset of the band, or mini-band. The mini-band does come at a lower cost, and consists of 4-6 pipers and 2-3 drummers depending on availability, and the event. We will balance the number of drummers based on the venue.</p>
	<p>Solo pipers are a very common request, and we can definitely accomodate. Our policy for soloists is to allow them to handle their rates. If you would like to hire a solo piper, we'll ask the members of the band that do perform solo work, and facilitate the introduction between you and that member.</p>

	<h3>Frequently Asked Questions</h3>
	<h4>What do you wear when performing?</h4>
	<p>Depending on the time of year, and the performance, the band has 3 available uniforms. For colder months, we wear the traditional Highland Light Infantry dress uniform. During summer months, we wear a military dress shirt (tan or white) with our kilt, horse hair sporran, red hose and spats. For concert performances, we wear a white dress shirt, black vest, tie, kilt, leather sporran, and green hose.</p>
	<h4>Can you perform outside in the winter?</h4>
	<p>Of course we can! The pipes, however, tend to be a bit unstable if it's very cold, just like humans. We will take cold weather performances at the discretion of the band manager based on the venue.</p>
	<h4>What if it rains? Will you still show up?</h4>
	<p>Yes, it rains a lot in Scotland and Ireland, and we don't melt. We may wear a rain cape, if it's consistent rain. The pipes do play a little differently in the rain, so we may have less players available if their individual pipes react adversly to the weather. If there is lighting, or any weather that threatens our safety, we will not play.</p>
	<h4>What if I only want one tune or a quick 10-minute performance? Will the fee be less expensive? </h4>
	<p>In short, no. For a 10 minute perrormance, the band still needs to prepare the same amount of time as a full performance. The pipes require a bit of warming up before any performance, and our players have to take the time to prepare themselves, their uniforms, and their instruments ahead of time. There are exceptions to every rule, but our performance fee covers all the prep ahead of the show, which often is more time than the actual performance.</p>
	<h4>What is the average experience of your pipers?</h4>
	<p>We have pipers with over 20 years experience, and pipers with at little as 2 year on the pipes. For any given performance, the pipe major will determine who is able to play based on the players readiness and their instruments readiness (yes, the pipes have a mind of their own sometimes). The pipe major is responsible for ensuring the quality of sound at every performance, and we take a lot of pride in our sound. </p>

	<p>For more information Contact the Band Manager Doug MacLeod at via <a href="mailto:mgr@highlandlight.com" class="userlink">email</a> or phone: <a href="tel:617-750-5983">617-750-5983<?a>.</p>
{% endblock %}
