{% extends 'layout_public.html' %} {% block title %}{{band.name}} Home{% endblock %}
{% block content %}
<article>
	<h3 class="text-center">More than 39 years of great music!</h3>
	<div class="text-center">
	<img src="/{{band.bandCode}}/static/images/0_0_0_0_567_380_csupload_66124547.jpg?u=3849446330" alt="full band Image" class="image-responsive borderedImage"/></div>
	<p>Officially founded in 1978, Highland&nbsp;Light is the oldest pipe band on Cape Cod. The band started to come together a few years before that, and have been delighting audience since. Read more about the <a href="/about">history of the band</a> and how you can be a part of it.</p>
	<p>The Highland Light welcomes new members, either experienced pipers and drummers or those looking to learn. We offer both bagpipe lessons and drum lessons to people looking to learn the instrument, and a challenge for the experienced players looking to better themselves. If you're interested in <a href="/join">joining the band</a>, get in touch with <a href="mailto:shambl4803@aol.com">Sheldon Hamblin</a>, the pipe major, for more details.</p>
</article>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<article class="clearfix">
	<figure class="hidden-xs col-sm-4 ">
		<img src="{{band.bandCode}}/static/images/0_0_0_0_204_363_csupload_68728651.jpg?u=23188109" alt="Best Pipe Band 2016 Cape Code St. Patty's day trophy" class="image-responsive borderedImage" />
		<figcaption>Best Pipe Band 2016<br/>Cape Cod Saint Patrick's Day Parade</figcaption>
	</figure>
	<p class=' col-xs-12 col-sm-8 '>The band performs throughout Cape Cod and South Eastern Massachusetts at various parades and concert venues. If you're interested in coming out to see us, check the <a href="/events">calendar of events</a> for the most up to date schedule. The band is always looking for new opportunites to demonstrate the power and beauty of the Great Highland Bagpipe to new audiences. You can hire the full band, or a mini-band, by talking to the band manager, <a href="mailto:mgr@highlandlight.com">Doug MacLeod</a>. The band also has members that excel with solo performances, including memorial services, weddings, and other special events. If you're looking for a piper to stun an audience for your next special event, or make your next parade or concert a wee bit more Scottish, invite Cape Cod's oldest pipe band.</p>
</article>
<div class="clearfix spacer"><hr class="col-xs-6 col-xs-offset-3"></div>
<article class="text-center">

	<h3>In Memoriam: </h3>
	<h5>Highland Light Scottish Pipe Band Members</h5>
	<ul class="list-unstyled">
		<li>
			<h4>William Hamilton</h4>
			<p>- 2012</p>
		</li>
		<li>
			<h4>Rev. Dr. William Pierson Barker</h4>
			<p>February 14, 1927- July 8, 2012</p>
		</li>
		<li>
			<h4>Walter McKenna</h4>
			<p>- 2012</p>
		</li>
	</ul>
</article>

 {% endblock %}
