{% extends 'layout_public.html' %} {% block title %}Join the {{band.name}} or take lessons{% endblock %} {% block content %}
<h3>Join Us, or take lessons</h3>
<article>
	 <img src="/{{band.bandCode}}/static/images/0_0_0_0_310_232_csupload_53442664.jpg?u=1249972057" width="310" height="232" />
	 <p>HLSPB welcomes new pipers and drummers of all ages and experience levels. The band has an excellent student program, offering lessons from 6-7 pm every Thursday. Visitors are welcome at our rehearsals, which generally take place on Thursday evenings from 7 to 9:00 pm at the <a href="http://www.wearytravelersclub.com/">Weary Traveller's Club</a> on Valley Bars Road in Monument Beach, MA.</p>
	<p>Anyone over the age of 8 is welcome to take lessons. While some of our band members learned at a young age, many did not take their first lessons until much later in life. Some of our Bagpipers did not start lessons until well into their forties! </p>
	<p>The band offers bagpipe and drum lessons at no profit to the organization, a small fee is requested to cover the costs of teaching materials.The band has loaner instruments for students when they are deemed ready to go on pipes. The band provides all drums and uniforms. Only practice instruments are needed to begin lessons.</p>

<div>
 <img src="/{{band.bandCode}}/static/images/0_0_0_0_153_115_csupload_53442692.jpg?u=134660563" width="153" height="115" id="ctrl-183162" />
 <img src="/{{band.bandCode}}/static/images/0_0_0_0_296_175_csupload_28708832.jpg?u=3028162596" width="296" height="175" id="ctrl-183165" alt="" title="" />
</div>
<p>Once a student has become proficient on their instrument and the provisional music, they are eligible to become a member of the band. Band members are loaned a uniform to use at no cost to the individual. Highland Light has a scholarship program for all members, provides mileage allowance for longer travels, as well as many other advantages.</p>
    <img src="/{{band.bandCode}}/static/images/0_0_0_0_237_252_csupload_28708801.jpg?u=4095481699" width="237" height="252" id="ctrl-183173" />
		<p> Private instruction can also be arranged. Please contact the pipe major with any questions or if you wish to attend lessons or a rehearsal.<br />
		Our Instruction and Rehearsal Schedule provides complete details of dates and locations.<a href="/directions" > View the Schedule and Directions</a></p>
	<p>If you are interested in taking lessons or joining the band, contact Pipe Major Sheldon Hamblin at <a href="mailto:shambl4803@aol.com" class="">shambl4803@aol.com</a></p>
 {% endblock %}
