{% extends 'layout_public.html' %} {% block title %}{{band.name}} Home{% endblock %} {% block content %}
<span class="text-class-57"><a href="http://www.scotsoncapecod.org" target="_blank" class="userlink">Links</a></span>
<div>Please visit the links to some of our favorite folks, and patronize our sponsors</div>
<div><br></div>
<div><span class="text-class-58">The Highland Light Scottish Society</span></div>
<div><br></div>
<div><a href="http://www.scotsoncapecod.org" class="userlink">www.scotsoncapecod.org</a></div>
<div><br></div>
<div><span class="text-class-58">Eastern US Pipe Band Association</span></div>
<div><span class="text-class-58"><br></span><span class="text-class-58"><a href="http://www.euspba.org/" class="userlink">http://www.euspba.org/</a></span></div>
<div><br></div>
<div><span class="text-class-59"><u><span class="text-class-3">Sponsors</span></u>
    </span>
</div>
<div><span class="text-class-59"><u><span class="text-class-3"><br></span></u>
    </span>
</div>
<div><span class="text-class-60"><span class="text-class-3">Weary Traveler's Club -</span>&nbsp;Our Practice Hall</span>
</div>
<div><span class="text-class-61"><br></span></div>
<div><span class="text-class-62"><u><a href="http://www.wearytravelersclub.com/" target="_blank" class="userlink">http://www.wearytravelersclub.com/</a></u></span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58">New World Tavern, Plymouth</span></div>
<div><br></div>
<div><a href="http://www.TheNewWorldTavern.com" class="userlink">www.TheNewWorldTavern.com</a></div>
<div><br></div>
<div><span class="text-class-58">Allied Personnel Services, Temporary and Direct Hire Staffing, Cape Cod and South Shore</span></div>
<div><br></div>
<div><a href="http://www.alliedpersonnel.com" class="userlink">www.alliedpersonnel.net</a></div>
<div><br></div>
<div><span class="text-class-63"><u>Games, Festivals and Competition</u></span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58">Rhode Island Scottish Highland Festival - June 8, 2013</span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58"><a href="http://www.riscot.org/" class="userlink">http://www.riscot.org/</a></span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58">Glasgowlands Scottish Festival - July 13, 2013</span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58"><a href="http://www.glasgowlands.org/info.html" class="userlink">http://www.glasgowlands.org/info.html</a></span></div>
<div><br></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58">Maine Highland Games - August 17, 2013</span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58"><a href="http://www.mainehighlandgames.org/" class="userlink">http://www.mainehighlandgames.org/</a></span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58">The New Hampshire Scottish Games - September 20, 21, 22, 2013</span></div>
<div><span class="text-class-58"><br></span></div>
<div><span class="text-class-58"><a href="http://www.nhscot.org/" class="userlink">www.nhscot.org/</a></span></div>
<div><br></div>
<div><span class="text-class-59"><u><span class="text-class-3">Some of our favorite folks</span></u>
    </span>
</div>
<div><br></div>
<div>Worcester Kiltie Pipe band, &nbsp;2016 Grade 3 WORLD CHAMPIONS!</div>
<div><a href="http://www.wkpb.org" target="_blank" class="userlink">www.wkpb.org</a></div>
<div><br></div>
<div>Brian Boru Pipe Band, Cape Cod</div>
<div><a href="http://www.brianborupipeband.org" target="_blank" class="userlink">www.brianborupipeband.org</a></div>
<div><br></div>
<div>Calum Cille Pipe Band, Cape Cod</div>
<div><a href="http://www.capecodpipesanddrums.com" class="userlink">www.capecodpipesanddrums.com</a></div>
<div><br></div>&nbsp;
<div><span class="text-class-58"><br></span></div>
<div><br></div>
<div><br></div>
{% endblock %}
