{% extends 'layout_public.html' %} {% block title %}{{band.name}} Photo Gallery{% endblock %}
{% block content %}
<h3>Photo Gallery <small>all photo's copyright 2015, HLSPB &amp; Lisa Breen</small></h3>
<figure>
<img border="0" alt="Brannagh O'Donnell and Eli Wilson Grade IV Piper and Drummer of the Day at Glasgow Lands 7/21/12" title="Brannagh O'Donnell and Eli Wilson Grade IV Piper and Drummer of the Day at Glasgow Lands 7/21/12 : Winners of the Piper of the day and Drummer of the day at the GlasgowLands Scottish Festival" description="Winners of the Piper of the day and Drummer of the day at the GlasgowLands Scottish Festival" src="280_157_csupload_47751282.jpg?u=2477117977" href="760_428_csupload_47751282.jpg?u=4167446871" position="0">
						<figcaption>Brannagh O'Donnell and Eli Wilson Grade IV Piper and Drummer of the Day at Glasgow Lands 7/21/12
					<br/>
						Winners of the Piper of the day and Drummer of the day at the GlasgowLands Scottish Festival
						</figcaption>
					</figure>
					<figure>
						<img border="0" alt="3 Generations of Pipes" title="3 Generations of Pipes : Brannagh and Anne O'Donnell with GrandPa Jim Toal" description="Brannagh and Anne O'Donnell with GrandPa Jim Toal" src="170_127_csupload_53472489.jpg?u=3706008862" href="666_500_csupload_53472489.jpg?u=2305021293" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="0">
						<figcaption>
						3 Generations of Pipes
						Brannagh and Anne O'Donnell with GrandPa Jim Toal
</figcaption></figure>
<figure>
	<img border="0" alt="Abington St. Patrick's Parade 2012" title="Abington St. Patrick's Parade 2012" src="170_127_csupload_53472538.jpg?u=2946493943" href="666_500_csupload_53472538.jpg?u=2352075556" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="1">
<figcaption>Abington St. Patrick's Parade 2012</figcaption>

</figure>

			<figure><img border="0" alt="Al in front of The Church of The Pilgrimage- Plymouth 2012" title="Al in front of The Church of The Pilgrimage- Plymouth 2012" src="127_170_csupload_53472571.jpg?u=2781600962" href="375_500_csupload_53472571.jpg?u=3092796168" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="2">
				<figcaption>
						Al in front of The Church of The Pilgrimage- Plymouth 2012
				</figcaption>

					</figure>
<figure>
	<img border="0" alt="Alasdair at Centerville parade 2012" title="Alasdair at Centerville parade 2012" src="170_127_csupload_53472576.jpg?u=620895101" href="666_500_csupload_53472576.jpg?u=26476718" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="3">
	<figcaption>
			Alasdair at Centerville parade 2012
	</figcaption>
</figure>
<figure>
		<img border="0" alt="Bewster in Bloom parade 2012" title="Bewster in Bloom parade 2012" src="170_127_csupload_53472598.jpg?u=2139924889" href="666_500_csupload_53472598.jpg?u=3871105330" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="4">
	<figcaption>
			Brewster in Bloom parade 2012
	</figcaption>
</figure>

	<figure>
		<img border="0" alt="Brewster in Bloom 2012" title="Brewster in Bloom 2012" src="170_127_csupload_53472609.jpg?u=3349778436" href="666_500_csupload_53472609.jpg?u=1948790999" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="5">
		<figcaption>
			Brewster in Bloom 2012
		</figcaption>
	</figure>
<figure>
	<img border="0" alt="Brewster in Bloom 2012" title="Brewster in Bloom 2012" src="170_127_csupload_53472626.jpg?u=217610543" href="666_500_csupload_53472626.jpg?u=785991570" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="6">
	<figcaption>Brewster in Bloom 2012</figcaption>
</figure>
<figure>
		<img border="0" alt="members and Alumni playing at Bill Barker's Memorial Service" title="members and Alumni playing at Bill Barker's Memorial Service" src="170_127_csupload_53472637.jpg?u=2946493899" href="666_500_csupload_53472637.jpg?u=2352075512" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="7">
	<figcaption>members and Alumni playing at Bill Barker's Memorial Service</figcaption>
</figure>


<figure>
	<img border="0" alt="Members and Alumni at Bill Barker's Memorial service" title="Members and Alumni at Bill Barker's Memorial service" src="170_102_csupload_53472650.jpg?u=3991265405" href="760_458_csupload_53472650.jpg?u=2195770992" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="8">
	<figcaption>Members and Alumni at Bill Barker's Memorial service</figcaption>
</figure></a></td>
<figure>
	<img border="0" alt="The New Bass at The Church of The Pilgrimage, Plymouth" title="The New Bass at The Church of The Pilgrimage, Plymouth" src="127_170_csupload_53472656.jpg?u=1618801512" href="375_500_csupload_53472656.jpg?u=4255595554" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="9">
	<figcaption>
		The New Bass at The Church of The Pilgrimage, Plymouth
	</figcaption>
</figure>
<figure>
	<img border="0" alt="The Breen's at The Church of The Pilgrimage" title="The Breen's at The Church of The Pilgrimage" src="170_127_csupload_53472683.jpg?u=3706008790" href="666_500_csupload_53472683.jpg?u=2305021349" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="10">
	<figcaption>The Breen's at The Church of The Pilgrimage</figcaption>
</figure>
	<figure><img border="0" alt="At Cape Cod Scottish Festival, Yarmouth" title="At Cape Cod Scottish Festival, Yarmouth" src="170_101_csupload_53472705.jpg?u=261764755" href="760_454_csupload_53472705.jpg?u=4000080449" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="11">
		<figcaption>
						At Cape Cod Scottish Festival, Yarmouth
		</figcaption>
			</figure>

<figure>
<img border="0" alt="Circled up at the CC Scottish Festival" title="Circled up at the CC Scottish Festival" src="170_81_csupload_53472712.jpg?u=116426118" href="760_362_csupload_53472712.jpg?u=4150814129" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="12">
	<figcaption>	Circled up at the CC Scottish Festival</figcaption>
</figure>

<figure>
<img border="0" alt="Centerville Memorial Day Parade" title="Centerville Memorial Day Parade" src="170_127_csupload_53472719.jpg?u=1783694462" href="666_500_csupload_53472719.jpg?u=3514875035" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="13">
	<figcaption>Centerville Memorial Day Parade</figcaption>
</figure>
<figure>
<img border="0" alt="At the Chatham VFW after the parade" title="At the Chatham VFW after the parade" src="127_170_csupload_53472730.jpg?u=812232429" href="375_500_csupload_53472730.jpg?u=1123427635" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="14">
	<figcaption>	At the Chatham VFW after the parade</figcaption>
</figure>
<figure>
<img border="0" alt="Warming up on the Lawn at the Morse's before the Plymouth Parade" title="Warming up on the Lawn at the Morse's before the Plymouth Parade" src="170_127_csupload_53472736.jpg?u=2946493867" href="666_500_csupload_53472736.jpg?u=2352075608" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="15">
	<figcaption>	Warming up on the Lawn at the Morse's before the Plymouth Parade</figcaption>
</figure>
<figure>
<img border="0" alt="Conor and Mark Jr." title="Conor and Mark Jr." src="170_127_csupload_53472741.jpg?u=1024179567" href="666_500_csupload_53472741.jpg?u=3918159554" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="16">
	<figcaption>Conor and Mark Jr.</figcaption>
</figure>

<figure>
<img border="0" alt="DM Al at CC Scottish Festival" title="DM Al at CC Scottish Festival" src="127_170_csupload_53472754.jpg?u=1618801479" href="375_500_csupload_53472754.jpg?u=4255595521" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="17">
	<figcaption>	DM Al at CC Scottish Festival</figcaption>
</figure>
<figure>
<img border="0" alt="Donna, Verna and Al at NH Games at Loon Mtn" title="Donna, Verna and Al at NH Games at Loon Mtn" src="170_113_csupload_53472760.jpg?u=3867122407" href="747_500_csupload_53472760.jpg?u=4197118755" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="18">
	<figcaption>	Donna, Verna and Al at NH Games at Loon Mtn</figcaption>
</figure>
<figure>
<img border="0" alt="Drum line warming up at the CC scottish Festival, Yarmouth" title="Drum line warming up at the CC scottish Festival, Yarmouth" src="170_110_csupload_53472769.jpg?u=3560645969" href="760_493_csupload_53472769.jpg?u=3293946318" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="19">
	<figcaption>	Drum line warming up at the CC scottish Festival, Yarmouth
	</div></td></figcaption>
</figure>
<figure>
<img border="0" alt="The Drumline before the Thanksgiving parade" title="The Drumline before the Thanksgiving parade" src="170_127_csupload_53472775.jpg?u=620895036" href="666_500_csupload_53472775.jpg?u=26476781" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="20">
	<figcaption>	The Drumline before the Thanksgiving parade</figcaption>
</figure>

<figure>
	<img border="0" alt="Mary, Conor, Eli at Abington St. Pat's parade" title="Mary, Conor, Eli at Abington St. Pat's parade" src="170_127_csupload_53472781.jpg?u=3706008755" href="666_500_csupload_53472781.jpg?u=2305021446" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="21">
	<figcaption>Mary, Conor, Eli at Abington St. Pat's parade</figcaption>
</figure>
<figure>
<img border="0" alt="Warming up before the COTP Concert" title="Warming up before the COTP Concert" src="127_170_csupload_53472814.jpg?u=3944400544" href="375_500_csupload_53472814.jpg?u=2286227538" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="22">
	<figcaption>Warming up before the COTP Concert</figcaption>
</figure>
<figure>
	<img border="0" alt="Relaxing after the P-Town Portuguese Festival parade" title="Relaxing after the P-Town Portuguese Festival parade" src="170_127_csupload_53472820.jpg?u=217610743" href="666_500_csupload_53472820.jpg?u=785991642" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="23">
	<figcaption>Relaxing after the P-Town Portuguese Festival parade</figcaption>
</figure>
<!--
			<td style="vertical-align:top;"><table style="width:224px;text-align:center;float:left;border-collapse:collapse;border:0px;padding:0px;margin-bottom:10px;">
				<tbody><tr>
					<td style="text-align:left;vertical-align:top;"><a rel="sw_lightbox" href="666_500_csupload_53472828.jpg?u=785991634"><img border="0" alt="Yarmouth Seaside Festival parade" title="Yarmouth Seaside Festival parade" src="170_127_csupload_53472828.jpg?u=217610735" href="666_500_csupload_53472828.jpg?u=785991634" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="24"></a></td>
				</tr><tr>
					<td style="vertical-align:top;text-align:left;padding-right:10px;"><div style="font-weight:bold;">
						Yarmouth Seaside Festival parade
					</div></td>
				</tr>
			</tbody></table></td><td style="vertical-align:top;"><table style="width:224px;text-align:center;float:left;border-collapse:collapse;border:0px;padding:0px;margin-bottom:10px;">
				<tbody><tr>
					<td style="text-align:left;vertical-align:top;"><a rel="sw_lightbox" href="666_500_csupload_53472838.jpg?u=2352075575"><img border="0" alt="Another successful parade" title="Another successful parade" src="170_127_csupload_53472838.jpg?u=2946494090" href="666_500_csupload_53472838.jpg?u=2352075575" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="25"></a></td>
				</tr><tr>
					<td style="vertical-align:top;text-align:left;padding-right:10px;"><div style="font-weight:bold;">
						Another successful parade
					</div></td>
				</tr>
			</tbody></table></td><td style="vertical-align:top;"><table style="width:224px;text-align:center;float:left;border-collapse:collapse;border:0px;padding:0px;margin-bottom:10px;">
				<tbody><tr>
					<td style="text-align:left;vertical-align:top;"><a rel="sw_lightbox" href="666_500_csupload_53472877.jpg?u=26476762"><img border="0" alt="Anne and Jim, 2 generations" title="Anne and Jim, 2 generations" src="170_127_csupload_53472877.jpg?u=620895273" href="666_500_csupload_53472877.jpg?u=26476762" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="26"></a></td>
				</tr><tr>
					<td style="vertical-align:top;text-align:left;padding-right:10px;"><div style="font-weight:bold;">
						Anne and Jim, 2 generations
					</div></td>
				</tr>
			</tbody></table></td>
		</tr><tr>
			<td style="vertical-align:top;"><table style="width:224px;text-align:center;float:left;border-collapse:collapse;border:0px;padding:0px;margin-bottom:10px;">
				<tbody><tr>
					<td style="text-align:left;vertical-align:top;"><a rel="sw_lightbox" href="666_500_csupload_53472910.jpg?u=3514875094"><img border="0" alt="Tony Carole" title="Tony Carole" src="170_127_csupload_53472910.jpg?u=1783694653" href="666_500_csupload_53472910.jpg?u=3514875094" album="1e5047cc96ab431abaa8553ae81e29bbalbum" position="27"></a></td>
				</tr><tr>
					<td style="vertical-align:top;text-align:left;padding-right:10px;"><div style="font-weight:bold;">
						Tony Carole
					</div></td>
				</tr>
			</tbody></table></td><td></td><td></td>
		</tr>
	</tbody></table>
</div></div>" -->
{% endblock %}
