{% extends 'layout_public.html' %} {% block title %}{{band.name}} Repertoire {% endblock %}
{% block content %}
<h3>Repertoire</h3>
<h4>3/4 Sets</span></h4>
<ul class="list-unstyled">
	<li>Green Hills/ When the Battles O'er</li>
	<li>Lochanside</li>
	<li>My Land/ Castle Dangerous</li>
</ul>
<h4>4/4 Sets</h4>
<ul class="list-unstyled">
	<li>Cockney Jocks/ Bonnie Lass O' Fyvie/ We're No Awa' Tae Bide Awa'</li>
	<li>Patriotic Set: Sempre Paratus/ Marine Corps Hymn/God Bless America</li>
	<li>Irish Set #1: Ministrel Boy/ Wearin O' the Green/Rakes of Mallow</li>
	<li>Irish Set #2: Kelly the Boy from Kilarne/ Roddy McCorly</li>
	<li>Bonnie Charlie</li>
	<li>Scotland the Brave/ The Rowan Tree</li>
	<li>Jimmie Findlater/ Lord Lovatt's Lament</li>

</ul>
<h4>6/8 Sets</h4>
<ul class="list-unstyled">
	<li>Men of the West/ Bonnie Dundee</li>
</ul>
<h4>Competition Sets</h4>
<ul class="list-unstyled">
	<li>2016: Terbius/ Shoals of Herring/ Intercontinental Gathering</li>
</ul>
<h4>Slow Aires</h4>
<ul class="list-unstyled">
	<li>Amazing Grace</li>
	<li>Highland Cathedral</li>
	<li>Flower of Scotland</li>
	<li>Farewell to Camraw</li>
</ul>
<h4>Concert Small Pipes Set</h4>
<ul class="list-unstyled">
	<li>Moonstar/Miss Flora Duncan/ Mermaid Song/ JK Cairns</li>
</ul>
{% endblock %}
