{% extends 'layout_public.html' %} {% block title %}Who's who in the {{band.name}}{% endblock %} {% block content %}
<h3>Meet the band</h3>
<img src="/{{band.bandCode}}/static/images/0_0_0_0_672_504_csupload_53442765.jpg?u=74619084" width="672" height="504" />
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<h4>Pipers</h4>
		<ul class="list-unstyled">
			<li>Sheldon Hamblin – Pipe Major</li>
			<li>Anne O'Donnell – Pipe Sergeant</li>
			<li>Carole Lamerson - Pipe Corporal</li>
			<li>Tony Breen</li>
			<li>Paul Graham</li>
			<li>Ryan Ide</li>
			<li>Leslie Kenney</li>
			<li>Dave Knauer</li>
			<li>Doug MacLeod</li>
			<li>Iain McEwen</li>
			<li>Calum McLachlan</li>
			<li>Brannagh O'Donnell*</li>
			<li>David Shaw</li>
			<li>Thomas Thayer</li>
			<li>James Toal</li>
			<li>Cal Woodworth</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h4>Drummers</h4>
		<ul class="list-unstyled">
			<li>Al Hoyt, snare,bass - Drum Major</li>
			<li>Doug Brown, snare – Drum Sergeant</li>
			<li>Mark Pasquantonio Sr.-Bass, snare- Drum Corporal</li>
			<li>Mary Allen, snare</li>
			<li>Conor Breen, bass, snare</li>
			<li>Peter Breen, snare</li>
			<li>Aric Johnson,snare,pipes</li>
			<li>Mark Pasquantonio Jr., snare</li>
			<li>Verna Ross-Hoyt, tenor</li>
			<li>Charlotte Summers, tenor</li>
		</ul>
	</div>
</div>
<div>

<p>*Competing member of the Grade 3, 2016 WORLD CHAMPIONS! <a href="http://wkpb.org/">Worcester Kiltie Pipe Band.</a> (We saw her cry on the BBC)</p>
<img src="/{{band.bandCode}}/static/images/0_0_0_0_280_210_csupload_53471815.jpg?u=2270145313" width="280" height="210" id="ctrl-1758358" alt="" />
<img src="/{{band.bandCode}}/static/images/0_0_0_0_325_433_csupload_53472005.jpg?u=1985602476" width="325" height="433" >
</div>
<div class="text-center">
<h4>Executive Board and Band Officers</h4>
<ul class="list-unstyled">
	<li>Pipe Major: Sheldon Hamblin </li>
	<li>Pipe Sergeant: Anne O'Donnell</li>
	<li>Drum Sergeant: Douglas Brown</li>
	<li>Drum Major: Al Hoyt</li>
	<li>Quartermaster: Verna Hoyt</li>

	<li>President/Band Manager: Doug MacLeod </li>
	<li>Vice President: Tony Breen</li>
	<li>Clerk: Carole Lamerson</li>
	<li>Treasurer: Mark Pasquantonio Sr.</li>

	<li>Provisioner/keeper of the sacred cooler: Tony Breen</li>
</ul>
 <p>The band meets year round to rehearse both drill and music. Many band members also
  prepare for solo competition at nearby Highland games.</p>

<p>HLSPB wears the Ancient Hunting Stewart tartan.</p>
</div>

 {% endblock %}
