{% extends 'layout_public.html' %} {% block title %}Sponsor the {{band.name}}{% endblock %} {% block content %}
<article>
	<h3>Sponsor the Band</h3>
	<img src="/{{band.bandCode}}/static/images/0_0_0_0_250_265_csupload_30216630.jpg?u=2953325045" width="250" height="265" id="ctrl-246428" alt="" title="" >
	<p>You can help ensure the future of Celtic music and traditions in Massachusetts by becoming a Patron of the Highland Light Scottish Pipe Band. HLSPB is a 501-(C) 3 non-profit organization which means that in most circumstances donations are tax deductable</p>

	<p>Highland Light Scottish Pipe Band is an all volunteer organization dedicated to performing, promoting and providing instruction in bagpiping and drumming. The band assumes the cost of uniforms for musicians, Provides all drums and subsidizes the transportation to and from many performances. The band relies on the generosity of individuals and corporations to meet our goals and continue operation.</p>

	<p>HLSPB has performed throughout the years to support local community events, such as Relay for Life Walks, Pan-Mass Challenge, Osterville Library, Falmouth Hospital Breast Cancer Walk, among others, as well as the many community parades, festivals and concerts. Your contributions  help the band continue to provide these services as well as keeping these arts alive in the local area. </p>

	<p>To donate to the band, or hire the band for your event, contact the band manager at <a href="mailto:mgr@highlandlight.com" class="">mgr@HighlandLight.com</a></p>
</article>
<article>
		<h3>Thank you to Our 2016 Sponsors!</h3>
		<p>O'Brien Electrical Co., Inc, Plymouth, MA</p>
</article>
{% endblock %}
