header {
  background-image:url(../images/bgimg.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:250px;
  margin:0 auto 50px;
  position:relative;
}

a {
  text-decoration:none;
}
.profileImage{
  max-width:100%;
}
.spaceBelow{margin-bottom:35px;}
.spaceBelow h5{border-bottom:1px solid rgba(0,0,0,.3);}
.mainContent li{
  margin-bottom:5px;
}
.memberAdminFunctions a{margin-right:5px;}
nav{
  width:100%;
  text-align:justify;
  position:absolute;
  bottom:-45px;
  display:flex;
}
nav >a{

  flex-grow:1;
  text-align:center;
  background-color:black;
  height:45px;
  box-sizing:border-box;
  padding-top:11px;
  color:whitesmoke;
  transition: all .2s ease;

}
nav>a:hover, nav>a.active{
  color:black;
  background-color:white;
  box-shadow: inset 2px 2px 13px rgba(0,0,0,.5);
  text-decoration: none;
}
