header {
  background-image:url(../bgimg.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  width:90%;
  height:220px;
  margin:0 auto;
}
header > a {
  position:absolute;
  top:30px;
  right:9%;
}
.active > md-tab {
  color:white;
}

a {
  text-decoration:none;
}

a:link {
  color:#69a6d8;
}
a:hover {
  color:#69a6d8;
}
a:active {
  color:white;
}
a:visited {
  color:#69a6d8;
}

.tunes {
  margin-left: 10px;
    list-style: none;
}

.tunes > a {
  width:30%;
display:inline-block;
  margin-bottom:25px;
  color:green;
}

#loginForm {
  text-align: center;
}
